<div class="container-fluid repsignup_footer">
  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"><a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a></div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">

      <p> <a (click)="callterms()">Terms & Conditions</a> | <a  (click)="callpolicy()">Privacy Policy</a> | <span>Copyright &copy; 2017 NEX HEALTH CARE. All Rights Reserved.</span></p>

    </div>


    <div class="clearfix"></div>
  </div>

</div>

<div *ngIf="termsmodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div *ngIf="policymodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>