<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>

  </div>

</div>

<div class="container-fluid admin_inner_heading">

  <h2><span>TRAINING CENTER</span></h2>

</div>



<div class="container-fluid admin_inner_body">
  <div class="container admininnerwrappe">


      <h3>Lorem Ipsum <span>is simply dummy text</span> </h3>



      <div class="trainingstep_block">

        <accordion>
          <accordion-group heading="Lorem Ipsum is simply dummy text of the - class 1">

            <h4>Lorem Ipsum is simply dummy text of the<br/>
              printing and typesetting industry. </h4>

            <div class="videoWrapper_div">

              <div class="videoWrapper">
                <!-- Copy & Pasted from YouTube -->

                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ac6k4a7HwhM?rel=0&hd=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>

            </div>
          </accordion-group>


        </accordion>






      </div>





    <div class="clearfix"></div>
  </div>

</div>


<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>
