
<app-frontheader></app-frontheader>

<div class="container-fluid admindashboardbody3">


<!--<div class="container-fluid admindashboardcon1" *ngIf="cookiedetails.type=='superadmin'">

  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 admindashboardcon1_block1" *ngIf="recdetails">
      <div class="admindashboardcon1_block1_wrapper_body">
        <div class="admindashboardcon1_block1_wrapper">

          <table>

            <tr>
              <td>
                <span>Name: {{recdetails.firstname}} {{recdetails.lastname}}</span>
                <span> Username: {{recdetails.username}}</span>
                <span> Email: {{recdetails.email}}</span>
                <span> Previous Login Date: {{logintime}}</span>
                <span> Member  Since: {{signuptime}}</span>

              </td>
              <td>

                <img src="../../assets/images/dashboard_top_icon1.png" alt="#" class="roundimg">
                <div class="clearfix"></div>
                <img src="../../assets/images/dashboard_top_img2.png" alt="#" class="bgimg">
                <div class="clearfix"></div>
              &lt;!&ndash;  <a href="javascript:void(0)" class="editlink">edit profile</a>&ndash;&gt;
                <div class="clearfix"></div>
              </td>

            </tr>
          </table>

        </div>

      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 admindashboardcon1_block2 salesrepdashboardtopdiv"  (click)="openmodal()">


      <div class="admindashboardcon1_div5">
        <table>
          <tr>
            <td><h6>40</h6><span>Total Resources : 40</span></td>
            <td><img src="../../assets/images/salesrepdashboard_img1.png" alt="#"><div class="clearfix"></div></td>

          </tr>

        </table>

      </div>
      <div class="admindashboardcon1_div2">
        <table>
          <tr>
            <td><h1>22</h1><span>Total Recruiters: 22</span></td>
            <td><img src="../../assets/images/dashboard_top_icon3.png" alt="#"><div class="clearfix"></div></td>

          </tr>

        </table>

      </div>

      <div class="admindashboardcon1_div3">
        <table>
          <tr>
            <td><h1>40</h1><span>Total Patients : 40</span></td>
            <td><img src="../../assets/images/dashboard_top_icon4.png" alt="#"><div class="clearfix"></div></td>

          </tr>

        </table>

      </div>




      <div class="clearfix"></div>
    </div>



    <div class="clearfix"></div>

  </div>

</div>



<div class="container-fluid admindashboardcon2" *ngIf="cookiedetails.type=='superadmin'">

  <div class="row row-eq-height">

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 admindashboardcon2_sub" (click)="openmodal()">

      <div class="admindashboardcon2_sub_wrapper">
        <div class="admindashboardcon2_sub_wrapper_body">
          <div class="newtextdiv">
            <span>Time</span>
            <strong>6 PM</strong>
            <span> EDT</span>
            <p>2018</p>
          </div>

          <h4>Upcoming Webinars</h4>
          <label>Title: NexHealthcare webinar</label>

          <img src="../../assets/images/dashboard_2_img2.png" alt="#" class="webinarsimg">
        </div>

      </div>

    </div>


    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 admindashboardcon2_sub" (click)="openmodal()">

      <div class="admindashboardcon2_sub_wrapper">
        <div class="admindashboardcon2_sub_condiv_heading">
          <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8"><h2>Recent Patients added in the system</h2></div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"><a href="javascript:void(0)" class="viewalllink">View All</a></div>
          <div class="clearfix"></div>
        </div>
        <div class="admindashboardcon2_sub_con_wrapper">
          <div class="admindashboardcon2_sub_condiv">
            <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
            <strong> Lina Gomes</strong>
            <span>50 Days Ago</span>

          </div>
          <div class="admindashboardcon2_sub_condiv">
            <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
            <strong> Lina Gomes</strong>
            <span>50 Days Ago</span>

          </div>
          <div class="admindashboardcon2_sub_condiv">
            <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
            <strong> Lina Gomes</strong>
            <span>50 Days Ago</span>

          </div>
          <div class="admindashboardcon2_sub_condiv">
            <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
            <strong> Lina Gomes</strong>
            <span>50 Days Ago</span>

          </div>
          <div class="admindashboardcon2_sub_condiv">
            <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
            <strong> Lina Gomes</strong>
            <span>50 Days Ago</span>

          </div>
          <div class="admindashboardcon2_sub_condiv">
            <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
            <strong> Lina Gomes</strong>
            <span>50 Days Ago</span>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 admindashboardcon2_sub" (click)="openmodal()">

      <div class="recruiterdashboard_bottom_con">
        <h2>YOU HAVE COMPLETED 76 / 77 LESSONS</h2>
        <h3>Success</h3>

        <div class="progress-bar_body"><div class="progress-bar" style="width: 99%;"></div></div>
        <label>99% lessons completed</label>

        <a href="javascript:void(0)" class="recruiterdashboard_bottom_link1">training center</a>

        <a href="javascript:void(0)" class="recruiterdashboard_bottom_link2"><strong>last lesson</strong> lorem ipsum

          <span>class 13</span>
        </a>
        <a href="javascript:void(0)" class="recruiterdashboard_bottom_link3"><strong>last lesson</strong> lorem ipsum

          <span>class 14</span>
        </a>

        <div class="clearfix"></div>

      </div>
    </div>





    <div class="clearfix"></div>
  </div>
</div>-->


 <!--<div class="rep-dashboard_new_wrapper" *ngIf="cookiedetails.type!='superadmin'">-->
 <div class="rep-dashboard_new_wrapper">


   <div class="container-fluid rep-dashboard_new_block1">

      <div class="row-eq-height">

        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
          <img src="../../assets/images/rep-dashboard_new_img1.jpg" alt="#">
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <div class="rep-dashboard_new_text1">
            <div class="rep-dashboard_new_text1_con">
            <strong>Welcome Altus Health Rep!</strong>
            <p>We’re so excited you’ve join us! Our easy-to-use CRM will allow you to add and track your qualified clients. We also hold training calls and national sales calls where we continue to provide you with support and up-to-date information. </p><br/>
<p>If you have any questions, feel free to contact us at support@altushealthgroup.com.</p>

            </div>
          </div>

        </div>
       <div class="clearfix"></div>

      </div>


   </div>



     <div class="container-fluid rep-dashboard_new_block2">

         <div class="row-eq-height">



             <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 colmd3_1st">
                 <div class="rep-dashboard_new_block2_wrapper1">
                     <h2>Commissions </h2>

                     <form>

                         <div class="form-group">
                             <label>Commissions Pending this Month:</label><input type="text" readonly>
                             <div class="clearfix"></div>

                         </div>
                         <div class="form-group">
                             <label>Commissions Paid Last Month:</label><input type="text" readonly>
                             <div class="clearfix"></div>

                         </div>

                         <div class="form-group">
                             <label>Total Commissions paid (YTD):</label><input type="text" readonly>
                             <div class="clearfix"></div>

                         </div>

                         <input type="button" value="View Commissions Report" class="viewbtn1"  [routerLink]="['/commissions']">


                     </form>
                 </div>


             </div>
             <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 colmd3_2nd">
                 <div class="rep-dashboard_new_block2_wrapper2">

                     <h2>Patients  </h2>

                     <form *ngIf="cookiedetails.type=='superadmin'">

                         <div class="form-group">
                             <label>Patient Profile Sheet Submitted:</label><input type="text" value="{{patientsubmitted}}" readonly>
                             <div class="clearfix"></div>

                         </div>
                         <div class="form-group">
                             <label>Patient Profile Sheet Approved:</label><input type="text" value="{{patientaccepted}}" readonly>
                             <div class="clearfix"></div>

                         </div>

                         <div class="form-group">
                             <label>Patient Profile Sheet Declined: </label><input type="text" value="{{patientdeclined}}" readonly>
                             <div class="clearfix"></div>

                         </div>

                         <input type="button" value="View All Patients" class="viewbtn2" *ngIf="cookiedetails.type!='superadmin'" [routerLink]="['/patient-list']">
                         <input type="button" value="View All Patients" class="viewbtn2" *ngIf="cookiedetails.type=='superadmin'" [routerLink]="['/patient-list','admin']">


                     </form>


                     <form *ngIf="cookiedetails.type!='superadmin'">

                         <div class="form-group">
                             <label>Patient Profile Sheet Submitted:</label><input type="text" value="{{patientsubmittednumber}}" readonly>
                             <div class="clearfix"></div>

                         </div>
                         <div class="form-group">
                             <label>Patient Profile Sheet Approved:</label><input type="text" value="{{patientacceptednumber}}" readonly>
                             <div class="clearfix"></div>

                         </div>

                         <div class="form-group">
                             <label>Patient Profile Sheet Declined: </label><input type="text" value="{{patientdeclinednumber}}" readonly>
                             <div class="clearfix"></div>

                         </div>

                         <input type="button" value="View All Patients" class="viewbtn2" [routerLink]="['/patient-list']">


                     </form>

                 </div>
             </div>
             <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">

                 <div class="rep-dashboard_new_block2_wrapper3"></div>
             </div>



             <div class="clearfix"></div>


         </div>
     </div>

     <div class="container-fluid rep-dashboard_new_block3">

         <div class="row-eq-height">

             <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 colmd4_1st">
                 <div class="rep-dashboard_new_block3_wrapper">
                     <h2>Recently added Patients  </h2>

                     <div class="rep-dashboard_new_block3_wrapper_sub">
<div *ngFor="let item of patientlist | orderBy:'_id':'reverse' ; let i = index">
                         <div class="wrapper3_sub_con" *ngIf="i<8" (click)="gotopatientrecord(item._id, item.Tagdetail[0].tagid)">
                             <span><img src="../../assets/images/rep-dashboard_new_block3_img1.png" alt="#"></span>
                             <label >{{item.firstname}} {{item.lastname}}</label>

                         </div>
</div>
                        <!-- <div class="wrapper3_sub_con">
                             <span><img src="../../assets/images/rep-dashboard_new_block3_img1.png" alt="#"></span>
                             <label>Lorem Ipsum</label>

                         </div>
                         <div class="wrapper3_sub_con">
                             <span><img src="../../assets/images/rep-dashboard_new_block3_img1.png" alt="#"></span>
                             <label>Lorem Ipsum</label>

                         </div>
                         <div class="wrapper3_sub_con">
                             <span><img src="../../assets/images/rep-dashboard_new_block3_img1.png" alt="#"></span>
                             <label>Lorem Ipsum</label>

                         </div>
                         <div class="wrapper3_sub_con">
                             <span><img src="../../assets/images/rep-dashboard_new_block3_img1.png" alt="#"></span>
                             <label>Lorem Ipsum</label>

                         </div>
                         <div class="wrapper3_sub_con">
                             <span><img src="../../assets/images/rep-dashboard_new_block3_img1.png" alt="#"></span>
                             <label>Lorem Ipsum</label>

                         </div>-->


                         <div class="clearfix"></div>
                     </div>

                     <a href="javascript:void(0)" class="wrapper3_sub_link" *ngIf="cookiedetails.type=='superadmin'" [routerLink]="['/patient-list','admin']">View All Patients</a>
                     <a href="javascript:void(0)" class="wrapper3_sub_link" *ngIf="cookiedetails.type!='superadmin'" [routerLink]="['/patient-list']">View All Patients</a>


                 </div>

               </div>

             <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 colmd4_2nd">
                 <div class="rep-dashboard_new_block3_wrapper">

                     <h2>Upcoming Webinars</h2>
                     <h3>Coming Soon!</h3>
                     <!--<h3>Time</h3>
                     <h4>&lt;!&ndash;6 PM&ndash;&gt;Monday </h4>
                     <h5>&lt;!&ndash;2018&ndash;&gt;June 18th,<br/> 2018 7:00 PM EST</h5>

                     <a href="javascript:void(0)" class="wrapper3_signup_link">sign up</a>-->

                     <a href="javascript:void(0)" class="wrapper3_sub_link">View All Webinars</a>


                 </div>


             </div>

             <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 colmd4_3rd">


                 <div class="rep-dashboard_new_block3_wrapper">
                     <h2>Most Recent Training Video</h2>
                     <div class="videoWrapperblockdiv">
                     <div class="videoWrapper">
                     <video controls width="560" height="315" id="video1" preload="none" poster="../../assets/images/video_page_cover.jpg">
                         <source src="../../assets/images/Harmonic.mp4" type="video/mp4">
                     </video>
                     </div>
                     </div>

                     <a href="javascript:void(0)" class="wrapper3_sub_link" [routerLink]="['/trainingcenter']">View All Training Videos</a>
                 </div>

             </div>


             <div class="clearfix"></div>


         </div>

     </div>

 </div>




</div>
<app-frontfooter></app-frontfooter>

<div *ngIf="comingsoonmodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
        <h1 class="text-center">Coming Soon</h1>
      </div>
    </div>
  </div>
</div>