<!--<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>

  </div>

</div>-->

<app-frontheader></app-frontheader>

<div class="container-fluid admin_inner_heading">

  <h2><span>Patients List View</span></h2>

</div>



<div class="container-fluid pateints_inner_body">
  <div class="container pateintswrappe">

    <div class="pateints_header">

      <div class="pateints_header_left"><!--<h2>Patients <span>List View</span></h2>--></div>
      <div class="pateints_header_right">
       <!-- <div class="pateints_searchdiv pateints_searchdiv2">-->
        <div class="pateints_searchdiv ">
        <form>
          <input type="text" placeholder="Search..." #listFilter (keyup)="0">
          <input type="button">
          <div class="clearfix"></div>
        </form>
      </div>
        <!--<button [routerLink]="['/add-patient']" class="btn btn-primary patients_btn">Add Patients</button>-->
      </div>
      <div class="clearfix"></div>


    </div>

    <div class="pateints_list_weraper "  [ngClass]="get4rowClass()">

      <div class="pateints_list_table_header">
        <div class="row row-eq-height">
          <div class="div1 ">
            <span>Patient ID</span>

          <!--  <span>&lt;!&ndash;TAG &ndash;&gt;status</span>-->
          </div>
          <div class="div2 ">
            <span>Name </span>
          </div>
        <!--  <div class="div3">
            <span> Last Name </span>
          </div>-->
          <div class="div3 ">
            <span>Email Address    </span>
          </div>
          <div class="div4 " *ngIf="isthisadmin!='admin'">
            <span>Phone Number</span>
          </div>
          <div class="div4" *ngIf="isthisadmin=='admin'">
            <span>Added By</span>
          </div>
          <div class="div5 " *ngIf="isthisadmin=='admin'">
            <span>Owner's Email</span>
          </div>
           <div class="clearfix"></div>
        </div>


      </div>

      <div class="pateints_list_table_contain" *ngFor="let item of patientlist | orderBy:'_id':'reverse' | usersearch:listFilter.value| paginate: { itemsPerPage: 25, currentPage: p }; let i = index">
        <div class="row row-eq-height" (click)="gotopatientrecord(item._id)">
          <div class="div1 ">
            <span>{{item.uniqueid}}</span>

          <!--  <span>{{item.tag}}</span>-->
          </div>

          <div class="div2 ">
            <span>{{item.firstname}} {{item.lastname}}</span>
          </div>
          <!--<div class="div3">
            <span>{{item.lastname}} </span>
          </div>-->

          <div class="div3 ">
            <span> {{item.email}}      </span>
          </div>

          <div class="div4 "  *ngIf="isthisadmin!='admin'">
            <span>{{item.phone}}</span>
          </div>

          <div class="div4"  *ngIf="isthisadmin=='admin' && item.Addedbydetail[0]!=null">
            <span>{{item.Addedbydetail[0].firstname}} {{item.Addedbydetail[0].lastname}}</span>
          </div>

          <div class="div5" *ngIf="isthisadmin=='admin' && item.Addedbydetail[0]!=null">
            <span >{{item.Addedbydetail[0].email}}</span>
          </div>

          <div class="clearfix"></div>
        </div>


      </div>

      <div class="pagination_wrapper">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <!--<div class="pateints_list_table_contain">
        <div class="row row-eq-height">
          <div class="div1">
            <span>600</span>
            <span>12345678</span>
            <span>Lorem Ipsum is simply dummy text</span>
          </div>
          <div class="div2">
            <span>Michael </span>
          </div>
          <div class="div3">
            <span>Sidebottom </span>
          </div>
          <div class="div4">
            <span> sidebottom24@yahoo.com      </span>
          </div>
          <div class="clearfix"></div>
        </div>


      </div>-->






    </div>








  </div>

</div>
<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>
