<div class="container-fluid">
    <div class="completewebinarbg">
        <div class="completewebinarlogout"><a (click)="callogout()"><span>Logout</span></a></div>
        <div class="completewebinarbginnercontent">


            <div class="completewebinarlogo">
                <img src="assets/images/completewebinarlogo.png">
            </div>
            <div class="completewebinarbginnercontentmain">
                <p>You must attend a webinar<!--<span>[[name of webinar]]</span>--> before you access your dashboard. If you have not signed up or have missed your webinar please <a href="https://register.gotowebinar.com/rt/647150944609692929" target="_blank">sign up here</a>. If you’ve attended a webinar, please email <a href="mailto:lannah@{{_commonservices.commonvalue.adminemail}}" target="_top">lannah@{{_commonservices.commonvalue.adminemail}}</a></p>
            </div>

        </div>
        <div class="completewebinarbginner"></div>
        <img src="assets/images/completewebinarbg.jpg">
    </div>
</div>



