<!--<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>

  </div>

</div>-->
<app-frontheader></app-frontheader>

<div class="container-fluid admin_inner_heading">

  <h2><span>COMPENSATION MODIFIERS</span></h2>

</div>


<div class="container-fluid pateints_inner_body">
  <div class="container pateintswrappe">

    <div class="pateints_header">

     <!-- <div class="pateints_header_left"><h2>COMPENSATION <span>MODIFIERS</span></h2></div>-->

      <div class="pateints_header_right">   <button (click)="openaddcompensationmodal()" class="btn btn-primary compensation_btn">Add Compensation</button> <div class="clearfix"></div></div>
      <div class="clearfix"></div>


    </div>


    <div class="pateints_list_weraper">


      <div class="myaccount_form_wrapper">


        <div class="compensationmodifier_table_wrapper">

         <table>
           <tr>
             <th>COMPENSATION AMOUNT</th>
             <th>SHARELINK ASSOCIATED WITH COMPENSATION AMOUNT
             </th>

           </tr>

           <tr *ngFor="let item of compensationList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
             <td>${{item.amount}}</td>
             <td>
               <span>https://{{serverhost}}/sign-up/{{item.token}}</span>
               <input type="button" value="Copy Url" class="copyurlbtn" ngxClipboard [cbContent]='callfunc(item.token)' (click)="showcopied()">
             </td>
           </tr>


<!--           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/sign-up/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>-->

         </table>



        </div>




      </div>



    </div>

  </div>
</div>

<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>

<div *ngIf="compensationmodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
        <input class="popupinputnew1" type="text" [(ngModel)]="compensationamount">
        <span class="has-error" *ngIf="compensationerror" style="margin-top: 8px;">{{compensationerror}}</span>
      </div>
      <div class="modal-footer popupnewbtnwrapper">
        <button type="button" class="btn btn-primary popbtn2" data-dismiss="modal" (click)="addcompensation()">Add Compensation</button>
        <button type="button" class="btn btn-default popbtn1" data-dismiss="modal" (click)="onHidden()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="copiedmodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1"><br/>
        <p class="copiedtext">URL Copied To Clipboard</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
