<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>

  </div>

</div>

<div class="container-fluid admin_inner_heading">

  <h2><span>COMPENSATION MODIFIERS</span></h2>

</div>


<div class="container-fluid pateints_inner_body">
  <div class="container pateintswrappe">

    <div class="pateints_header">

      <div class="pateints_header_left"><h2>COMPENSATION <span>MODIFIERS</span></h2></div>
      <div class="pateints_header_right"></div>
      <div class="clearfix"></div>


    </div>


    <div class="pateints_list_weraper">


      <div class="myaccount_form_wrapper">


        <div class="compensationmodifier_table_wrapper">

         <table>
           <tr>
             <th>COMPENSATION AMOUNT</th>
             <th>SHARELINK ASSOCIATED WITH COMPENSATION AMOUNT
             </th>

           </tr>

           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>




           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>
           <tr>
             <td>$9</td>
             <td>
               <span>https://rolex.nexmedsolutions.net/repsignup/NzgyOF85</span>
               <input type="button" value="Copy Url" class="copyurlbtn">
             </td>

           </tr>

         </table>



        </div>




      </div>



    </div>

  </div>
</div>

<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>