
<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>
    <!-- <a href="javascript:void(0)"><img src="images/adminlogo.png" alt="#"></a>-->

  </div>

</div>

<div class="container-fluid admin_inner_heading">

  <h2><span>Patients Record View</span></h2>

</div>



<div class="container-fluid pateints_inner_body">
  <div class="container pateintswrappe">

    <div class="pateints_header">

      <div class="pateints_header_left"><h2>User <span>Information</span></h2></div>
      <div class="pateints_header_right"></div>
      <div class="clearfix"></div>


    </div>

    <div class="pateints_list_weraper">
      <form>

        <div class="pateintdetail_left">

          <div class="pateintdetail_left_form">

            <div class="form-group"><input type="text"  class="form-control" placeholder="First Name"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Last Name"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Phone Number"/></div>
            <div class="form-group"><input type="email"  class="form-control"  placeholder="Email Address"/></div>
            <div class="form-group"><textarea  placeholder="Address"></textarea></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="City"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="State"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Zip"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Date of Birth"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Gender"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Race/Ethnicity "/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Height/Weight"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Allergies"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Medicare Claim #"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Tag"/></div>
            <div class="form-group"><input type="text"  class="form-control"  placeholder="Tracking Number "/></div>

            <div class="clearfix"></div>



            <h6>Qualifying Questions</h6>



            <div class="form-group2">
              <label class="labeltext">Do you currently have the Red, White, or Blue Medicare Part-B Card? </label>
              <div class="radiobtn_div1">
                <div class="button-holder">
                  <input type="radio" checked="" class="regular-radio" name="radio-1-set" id="radio-1-set"><label for="radio-1-set"></label><span>YES</span>
                  <input type="radio" checked="" class="regular-radio" name="radio-1-set" id="radio-2-set"><label for="radio-2-set"></label><span>NO</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group2">
              <label class="labeltext">Have YOU and/or ANYONE else in your family EVER been diagnosed with any type of cancer? </label>
              <div class="radiobtn_div1">
                <div class="button-holder">
                  <input type="radio" checked="" class="regular-radio" name="radio-3-set" id="radio-3-set"><label for="radio-3-set"></label><span>YES</span>
                  <input type="radio" checked="" class="regular-radio" name="radio-3-set" id="radio-4-set"><label for="radio-4-set"></label><span>NO</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group3">
              <label class="labeltext">Do you know what cancer(s) they were diagnosed with?</label>
              <input type="text"  class="form-control" />
              <div class="clearfix"></div>
            </div>

            <div class="form-group4">
              <label class="labeltext">What is their relation to you?  </label>
              <input type="text"  class="form-control" />
              <div class="clearfix"></div>
            </div>

            <div class="form-group5">
              <label class="labeltext">At what age approximately were they diagnosed with this cancer?  </label>
              <input type="text"  class="form-control" />
              <div class="clearfix"></div>
            </div>



          </div>


          <textarea placeholder="Only Notes" class="notes_textarea"></textarea>



        </div>


        <div class="pateintdetail_right">
          <div class="pateints_btn_wrapper">
            <input type="button"  value="Save" class="btn1"/>
            <input type="button"  value="Cancel" class="btn2"/>

          </div>


        </div>



        <div class="clearfix"></div>

      </form>

    </div>








  </div>

</div>
<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>


