<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>

  </div>

</div>

<div class="container-fluid admin_inner_heading">

  <h2><span>User Management</span></h2>

</div>

<div class="container-fluid pateints_inner_body">
  <div class="container pateintswrappe">

    <div class="pateints_header">

      <div class="pateints_header_left autoheadingwidth"><h2>User Management <span>Record View</span></h2></div>

      <div class="clearfix"></div>


    </div>


    <div class="pateints_list_weraper">


      <div class="myaccount_form_wrapper">


        <div class="userrecruiterdetail_btn_wrapper">

          <a href="javascript:void(0)" class="link1">Back To List</a>
          <a href="javascript:void(0)" class="link2">Edit</a>
          <a href="javascript:void(0)" class="link3">New</a>
          <a href="javascript:void(0)" class="link4">Delete</a>
          <div class="clearfix"></div>
        </div>


        <form>

          <h6><a href="javascript:void(0)">Account Information</a></h6>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Rep ID: </div>
            <div class="userrecruiterdetail_group_contain">(600) </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Username*:</div>
            <div class="userrecruiterdetail_group_contain">Lorem Ipsum is simply </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Password*:</div>
            <div class="userrecruiterdetail_group_contain">******************* </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Confirm Password*:</div>
            <div class="userrecruiterdetail_group_contain">******************* </div>


            <div class="clearfix"></div>
          </div>


          <h6><a href="javascript:void(0)">User Information</a></h6>


          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">First Name*:</div>
            <div class="userrecruiterdetail_group_contain">Lorem</div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Last Name*:</div>
            <div class="userrecruiterdetail_group_contain"> Ipsum </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Address*:</div>
            <div class="userrecruiterdetail_group_contain">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Address 2:</div>
            <div class="userrecruiterdetail_group_contain">Lorem Ipsum is simply dummy text of the printing </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">City*:</div>
            <div class="userrecruiterdetail_group_contain">Lorem Ipsum is simply  </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">State*:</div>
            <div class="userrecruiterdetail_group_contain">Lorem Ipsum </div>


            <div class="clearfix"></div>
          </div>


          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Zip*:</div>
            <div class="userrecruiterdetail_group_contain">123456 </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Gender*:</div>
            <div class="userrecruiterdetail_group_contain">Male </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Date of Birth*:</div>
            <div class="userrecruiterdetail_group_contain">22.33.44 </div>


            <div class="clearfix"></div>
          </div>






          <h6><a href="javascript:void(0)">Contact Information</a></h6>


          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Email Address*:</div>
            <div class="userrecruiterdetail_group_contain">lorem@ipsum </div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Phone Number*:</div>
            <div class="userrecruiterdetail_group_contain">123456</div>


            <div class="clearfix"></div>
          </div>


          <h6><a href="javascript:void(0)">User Account</a></h6>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Account Type*</div>
            <div class="userrecruiterdetail_group_contain">&nbsp; </div>


            <div class="clearfix"></div>
          </div>
          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Owner*</div>
            <div class="userrecruiterdetail_group_contain">&nbsp; </div>


            <div class="clearfix"></div>
          </div>


          <h6><a href="javascript:void(0)">Admin Notes </a></h6>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Text Box</div>
            <div class="userrecruiterdetail_group_contain">&nbsp; </div>


            <div class="clearfix"></div>
          </div>

          <h6><a href="javascript:void(0)">Account Status</a></h6>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Blocked</div>
            <div class="userrecruiterdetail_group_contain">&nbsp;</div>


            <div class="clearfix"></div>
          </div>


          <h6><a href="javascript:void(0)">Subdomain</a></h6>


          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">Yes</div>
            <div class="userrecruiterdetail_group_contain">&nbsp;</div>


            <div class="clearfix"></div>
          </div>

          <div class="userrecruiterdetail_group">

            <div class="userrecruiterdetail_group_heading">www.test.com</div>
            <div class="userrecruiterdetail_group_contain">&nbsp; </div>


            <div class="clearfix"></div>
          </div>

          <div class="clearfix"></div>

        </form>


      </div>



    </div>

  </div>
</div>

<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>