<div class="container-fluid login_body">
  <img src="../../assets/images/loginlogo.png" alt="#" class="loginlogo">

  <h2>login</h2>

  <div class="login_form_box">

    <div class="login_form_wrapper">


      <form>

        <input type="text" placeholder="USER NAME/ EMAIL">
        <!--<span class="has-error">error text</span>-->
        <input type="password" placeholder="PASSWORD">
        <!--<span class="has-error">error text</span>-->
        <input type="submit" value="SIGN IN" class="login_btn">

        <span class="login_link1">Not registered?  <a href="javascript:void(0)">Request Sign Up Here</a></span>
        <span class="login_link2"><a href="javascript:void(0)">Forgot your password?</a></span>
    <div class="clearfix"></div>




      </form>

    </div>

  </div>


</div>