<!--<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>

  </div>

</div>-->
<app-frontheader></app-frontheader>

<div class="container-fluid admin_inner_heading">

  <h2 *ngIf="typeis=='salesrep'"><span >Sales Rep</span></h2>
  <h2 *ngIf="typeis=='leadmanager'"><span>Lead Manager</span></h2>
  <h2 *ngIf="typeis=='masteraccount'"><span>Master Account</span></h2>

</div>

<div class="container-fluid pateints_inner_body">

  <div class="userrecruiterlist_table_wrapper">
  <table>
    <tr>

      <th>User/Rep ID</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Account Type</th>
      <th>Owner</th>
      <th>Cgx Amount</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let item of specificlist | orderBy:'_id':'reverse' | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">

      <td>{{item.uniqueid}}</td>
      <td>{{item.username}}</td>
      <td>{{item.firstname}}</td>
      <td>{{item.lastname}}</td>
      <td>{{item.type}}</td>
      <td>{{item.addedby}}</td>
      <td>
        <p *ngIf="item.Repcontractdetail[0]">{{item.Repcontractdetail[0].compensationgrade}}</p>
        <p *ngIf="!item.Repcontractdetail[0]">No amount given</p>
      </td>
     <!-- <td *ngIf="!item.Repcontractdetail[0] || item.Repcontractdetail[0].compensationgrade==''">No amount given</td>-->
      <td><a href="javascript:void(0)" [routerLink]="['/userrecruiteredit',item._id]">Edit</a></td>

    </tr>
    <div class="pagination_wrapper">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
 <!--   <tr>

      <td>10338</td>
      <td>Switch nadeemhusainzsa2na3u1k
      <td>Nadeem</td>
      <td>Husain</td>
      <td>Doc</td>
      <td>BethKelley</td>
      <td><a href="javascript:void(0)">Edit</a></td>
    </tr>
    <tr>

      <td>10338</td>
      <td>Switch nadeemhusainzsa2na3u1k
      <td>Nadeem</td>
      <td>Husain</td>
      <td>Doc</td>
      <td>BethKelley</td>
      <td><a href="javascript:void(0)">Edit</a></td>
    </tr>

    <tr>

      <td>10338</td>
      <td>Switch nadeemhusainzsa2na3u1k
      <td>Nadeem</td>
      <td>Husain</td>
      <td>Doc</td>
      <td>BethKelley</td>
      <td><a href="javascript:void(0)">Edit</a></td>
    </tr>

    <tr>

      <td>10338</td>
      <td>Switch nadeemhusainzsa2na3u1k
      <td>Nadeem</td>
      <td>Husain</td>
      <td>Doc</td>
      <td>BethKelley</td>
      <td><a href="javascript:void(0)">Edit</a></td>
    </tr>

    <tr>

      <td>10338</td>
      <td>Switch nadeemhusainzsa2na3u1k
      <td>Nadeem</td>
      <td>Husain</td>
      <td>Doc</td>
      <td>BethKelley</td>
      <td><a href="javascript:void(0)">Edit</a></td>
    </tr>-->


  </table>

  </div>

</div>




<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>