@charset "utf-8";
/* CSS Document */



@media(max-width:1900px) {
    .form_wrapper_text_subdiv2 label {
        font-size: 20px;
    }
    .repsignup_mainbody .form_wrapper_text h3{
        font-size: 28px;
    }
}


@media(max-width:1800px) {
    .repsignup_mainbody .form_wrapper_text h3 {
        font-size: 26px;
    }
    .form_wrapper_text_subdiv2 label{font-size: 21px;}
}

@media(max-width:1780px) {

    .repsignup_mainbody .form_wrapper_text h3{ font-size: 26px;}

    .repsignup_mainbody .form_wrapper_text h2{ font-size: 44px; line-height: 44px;}

    .form_wrapper_text_subdiv2 label{ padding: 13px 15px;}
    .repsignup_mainbody .form_wrapper .form_div_row h2{ font-size:22px;}
}



@media(max-width:1700px) {
/*    .repsignup_mainbody .form_wrapper {
        width: 70%;}*/


    .cgxwrapper_wrapper{ width: 1500px; margin: 0 auto;}

    .cgxwrapper_wrapper h2{ font-size: 80px;}
/*.cgxwrapper_wrapper .cgxul ul li{ font-size: 26px;}*/


    .cgxwrapper_video_wrapper {
        width: 750px;
    }

    .cgxwrapper_text_wrapper {
        width: 800px;}


    .form_wrapper_text_subdiv3 ul li{ font-size: 18px;}


}

@media(max-width:1640px) {

    .videoWrapper_div{ width: 50%; margin: 0 auto;}

    .repsignup_topblock .row{ width: 80%;}
 /*   .repsignup_footer .row{ width: 80%;}*/
 /*   .repsignup_mainbody .row{width: 80%;}*/
/*    .repsignup_mainbody .form_wrapper{ width: 70%;}*/

    }

@media(max-width:1540px) {
    .pateintdetail_left_formnew .form-group .form-control {
        width: 66%!important;
    }
    .userrecruiterlist_table_wrapper{width: 98%;}
    .pateints_searchdiv_wrapper{width: 98%;}
    .admindashboardwrapper{width: 98%;}
    .admininnerwrappe{width: 98%;}
    .pateintswrappe{width: 98%;}
  .admindashboardmenublock .row{width: 98%;}

   .admindashboardcon1{width: 98%;}
   .admindashboardcon2{width: 98%;}
    .cgxwrapper_wrapper{ width: 1300px; margin: 0 auto;}

    .cgxwrapper_body{ background-size: 980px;}

    .cgxwrapper_wrapper h2 {
        font-size: 70px;
    }

    .cgxwrapper_video_wrapper {
        width: 690px;
    }

    .cgxwrapper_text_wrapper {
        width: 640px;
    }

    .cgxwrapper_text_wrapper p{ font-size: 20px; line-height: 20px;}

    .cgxwrapper_wrapper .cgxul ul li{ font-size: 25px;}

    .repsignup_mainbody .form_wrapper_text h2{ font-size: 40px; line-height: 40px;}
    .repsignup_mainbody .form_wrapper_text h3{ font-size: 30px; line-height: 30px;}


    .form_wrapper_text_subdiv3 span{ font-size: 26px;}
    .form_wrapper_text_subdiv3 ul li{ font-size: 16px;}

    .form_wrapper_text_subdiv h5{ height: 160px;     font-size: 16px;
        line-height: 24px;}

    .repsignup_mainbody .form_wrapper .form_div_row h2 {
        font-size: 18px;
    }
    .h2minheight {
        padding-top: 19px!important;
    }

    .repsignup_mainbody .form_wrapper_text h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .form_div_rowbottom label {
        font-size: 16px!important;
    }

   /* .repsignup_mainbody .form_wrapper label {
        margin: 14px 0 10px 0;}*/

}

@media(max-width:1400px) {
    .pateintdetail_left_formnew .form-group .form-control {
        width: 65%!important;
    }
    .repsignup_mainbody .form_wrapper_text h2 {
        font-size: 36px;
        line-height: 36px;
    }

    .form_wrapper_text_subdiv2 label{ font-size: 18px;}


    .repsignup_mainbody .form_wrapper_text h4{ font-size: 26px;}

    .admindashboardcon2_sub_condiv_heading h2{ font-size: 20px;}

    .form_wrapper_text_subdiv3 span{ width: 40%;}
}
@media(max-width:1360px) {

  /*  .repsignup_mainbody .form_wrapper {
        width: 68%;
    }*/


    .form_wrapper_text_subdiv3 ul li {
        font-size: 14px;
    }

    .form_wrapper_text_subdiv3 strong{ font-size: 40px;}
}

@media(max-width:1340px) {
.cgxwrapper_wrapper{ width: 1199px; margin: 0 auto;}

    .cgxwrapper_wrapper h2 {
        font-size: 62px;
    }

    .cgxwrapper_wrapper .cgxul ul li {
        font-size: 20px;
    }

    .cgxwrapper_video_wrapper {
        width: 600px;
    }
    .pateintdetail_left_formnew .form-group .form-control {
        width: 63%!important;
    }
    .pateintdetail_left_formnew2 .form-group {
        width: 47% !important;
    }
    .pateintdetail_left_form .form-group .form-control {
        width: 70%;
    }
    .pateintdetail_left_formnew2 label {
        width: 30%;
    }
    .pateintdetail_left_formnew2 .form-group .has-error {
        padding-left: 30%;
    }
}

@media(max-width:1280px) {
    .repsignup_mainbody .form_wrapper_text h3 {
        font-size: 18px;
    }

    .pateintdetail_left_formnew .form-group .form-control {
        width: 61% !important;
    }
    .pateintdetail_left_formnew .form-group{
        width: 46% !important;
    }
    .pateintdetail_left_formnew_right .form-group{
        width:100% !important;
    }
    .pateintdetail_left_formnew .form-group.form-group_autowidth{
        width: 98% !important;
    }
}

@media(max-width:1199px) {

    .btnviewmore{ position: inherit;}
    .admin_footer2 .row{ width: 96%;}

    .webinar_wrapper{ width: 96%; margin: 35px auto;}


    .trainingcentercontentleft .videoWrapper {padding-bottom: 54.25%; padding-top: 26px;}
    .trainingcenter_mainwrapper .row-eq-height{display: block !important; margin: 0 auto;}
    .trainingcentercontentleft {width: 100%;margin-right: 0px !important;}
    .trainingcentercontentright {width: 100%; margin-left: 0px !important;}


    .repsignup_mainbody .form_wrapper_text h3 {
        font-size: 16px;
    }

    .pateintdetail_left_formnew .form-group .form-control {
        width: 58% !important;
    }
    .pateintdetail_left_formnew .form-group .form-control {
        width: 94% !important;
    }

.admindashboardcon2_sub:nth-of-type(2){ margin: 15px 0;}
    .repsignup_mainbodynew .row-eq-height{display: block !important;}
    .repsignup_mainbody .form_wrapper_text {
        width: 100% !important;
        margin-right: 0px !important;
    }
    .repsignup_mainbody .form_wrapper {
        width: 100% !important;
    }
}

@media(max-width:991px) {

    .admin_footer2 p{ text-align: center;}
    .webinar_wrapper_context_block{ background-image: none; padding: 34px;}

    .trainingcentercontentleft .videoWrapper {padding-top: 18px;}

    .repsignup_mainbody .form_wrapper_text h3 {
        font-size: 25px;
    }


    .pateintdetail_left_form .form-group .form-control {

        width: 64%;
    }
    .pateintdetail_left_formnew2 label {
        width: 36%;
    }
    .pateintdetail_right{width: 20%;}
    .pateintdetail_left {
        width: 79%;
    }
    .pateintdetail_left_formnew .form-group {
        width: 100% !important;
    }
    .pateintdetail_left_formnew_left {
        width: 57% !important;
    }
    .pateintdetail_left_formnew_right {
        width: 43%;
    }
}

@media(max-width:900px) {
    .pateintdetail_left_formnew2 .form-group {
        width: 98% !important;
    }
    .pateintdetail_left_formnew2 label {
        width: 30%;
    }
    .pateintdetail_left_form .form-group .form-control {
        width: 70%;
    }
    .completewebinarbg img {
        left: 0%;
        width: 100%;
    }
    .completewebinarlogo img{
        left:0%;
    }

}

@media(max-width:900px) {
    .completewebinarbginnercontentmain {
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media(max-width:767px) {
    .trainingcentercontentleft .videoWrapper {
        padding-top: 16px;
    }

    .admindashboardcon2_sub_condiv_heading div{ display: block; width: 100%; text-align: center;}
    .admindashboardcon2_sub_condiv_heading .col-xl-4 {
        text-align: center; padding-top: 15px;
    }

.admindashboardcon3_sub:nth-of-type(2){ margin-top: 15px;}



}




@media(max-width:540px) {
    .trainingcentercontentleft .videoWrapper {
        padding-top: 10px;
    }
}

@media(max-width:480px) {
    .trainingcentercontentleft .videoWrapper {
        padding-top: 9px;
    }

    .trainingcentercontentrightblock {
        display: block;
        text-align: center;
    }
    .videorightWrapper {
        margin: 10px auto;
    }
    .trainingcentercontentrightbtn a {
        float: none;
    }
    .trainingcentercontentrightbtn {
        float: none;
        text-align: center;
    }
    .btnviewmore {
        float: none;
        margin: 20px auto 0px;
        text-align: center;
        width: 171px;
        display: block;
    }
}



@media(max-width:400px) {
    .admindashboardcon2_sub_condiv{ width: 96%; float: none; margin: 5px auto;}
}


@media (min-width: 768px){
    .modal-sm {
        width: 480px;
    }

   .termsmodaldiv .modal-sm {
        width: 80%;
    }

    .pateintquestioniremodal .modal-sm {
        width: 100%;
    }
}



@media (min-width: 100px) {
    .col-xs-15 {width:100%; float: left; margin-bottom: 20px;}
}

@media (min-width: 600px) {
    .col-xs-15 {width: 50%; float: left; margin-bottom: 20px;}
}

@media (min-width: 768px) {
    .col-sm-15 {width: 33.33%; float: left;  margin-bottom: 20px;}
}
@media (min-width: 992px) {
    .col-md-15 {width: 25%; float: left;}
}
@media (min-width: 1200px) {
    .col-lg-15 {width: 20%; float: left;}
}