@charset "utf-8";

ul, li {list-style: none;	outline: none;}
*{ margin:0; padding:0;}
.clear {clear:both;}
a {text-decoration:none;outline:none; border: none;}
a, a:visited {text-decoration: none;}
a:hover, a:focus {text-decoration: none;	color: inherit;}
a:focus {outline: none;outline: none; outline-offset: inherit;}
a:visited {	text-decoration: none;	outline: none;}

/* CSS Document */

/* ----Loader css---*/

.loaderdiv{position: relative;width: 100vw; height: 100vh; display: table-cell; vertical-align:middle; text-align: center; }
.loaderdiv .logowrapper{ width: 150px; margin: 0 auto;}
.loader {border: 16px solid #0292dc; /* Blue */border-top: 16px solid #282828; /* Black */	border-radius: 50%;	width: 120px;	height: 120px;	animation: spin 2s linear infinite; margin:0 auto;	  margin-top: 10px;}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ----End Loader css---*/