@charset "utf-8";
body{ margin: 0; padding: 0; background: #edeef0;}
ul, li {list-style: none;	outline: none;}
*{ margin:0; padding:0;}
.clear {clear:both;}
a {text-decoration:none;outline:none; border: none;}
a, a:visited {text-decoration: none;}
a:hover, a:focus {text-decoration: none;	color: inherit;}
a:focus {outline: none;outline: none; outline-offset: inherit;}
a:visited {	text-decoration: none;	outline: none;}


@font-face {
    font-family: 'proximanova-semibold';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}





/* CSS Document */

/* ----Loader css---*/

.loaderdiv{position: relative;width: 100vw; height: 100vh; display: table-cell; vertical-align:middle; text-align: center; }
.loaderdiv .logowrapper{ width: 150px; margin: 0 auto;}
.loader {border: 16px solid #0292dc; /* Blue */border-top: 16px solid #282828; /* Black */	border-radius: 50%;	width: 120px;	height: 120px;	animation: spin 2s linear infinite; margin:0 auto;	  margin-top: 10px;}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ----End Loader css---*/


.admindashboardcon2_sub .admindashboardcon2_sub_wrapper{ background: #fff; padding-bottom: 15px;}

.admindashboardcon2{ padding: 15px 20px;}

.admindashboardcon2_sub{ padding: 0px 8px;}


.admindashboardcon2_sub_condiv_heading{ padding:20px 3% 15px 3%;}

.admindashboardcon2_sub_condiv_heading div{ padding: 0px;}

.admindashboardcon2_sub_condiv_heading h2{ margin: 0; padding: 0; font-size: 24px; color: #57626b;  font-family: 'proximanova-regular';}

.admindashboardcon2_sub_condiv_heading .col-xl-4{ text-align: right;}

.admindashboardcon2_sub_condiv_heading .viewalllink{ display: inline-block; background: #29aae1; font-size: 14px; color: #fff; padding:4px 10px; font-family: 'proximanova-regular';}

.admindashboardcon2_sub_con_wrapper{ padding: 0 1.5%;}
.admindashboardcon2_sub_condiv{ width: 30.3%; float: left; border: solid 1px #d9dbdc; border-radius: 8px; padding: 1px; text-align: center; margin: 5px 1.5%;}

.admindashboardcon2_sub_condiv .sub2_imgdiv{ background: #f0f1f1; padding: 15px; border-radius: 8px 8px 0 0;}
.admindashboardcon2_sub_condiv .sub2_imgdiv img{ max-width: 90%;}

.admindashboardcon2_sub_condiv strong{ display: block; font-size: 16px; color: #557c8c; padding: 10px 0 0 0; font-family: 'proximanova-bold'; text-transform: uppercase;}

.admindashboardcon2_sub_condiv span{ display: block; font-size: 16px; color: #57626b; padding: 2px 0 10px 0; font-family: 'proximanova-regular'; }


.admindashboardcon3{ padding: 0px 20px; margin-bottom: 15px;}

.admindashboardcon3 img{ display: block;  width:100%;}

.admindashboardcon3  .admindashboardcon3_sub {
    padding: 0px 8px;
}


.admindashboardcon1{  padding: 15px 20px 0 20px;}

.admindashboardcon1_block1{padding: 0px 8px;}

.admindashboardcon1_block1_wrapper_body{ background: rgba(48,129,164,1);
    background: -moz-linear-gradient(-45deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(48,129,164,1)), color-stop(50%, rgba(34,57,101,1)), color-stop(100%, rgba(26,30,71,1)));
    background: -webkit-linear-gradient(-45deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    background: linear-gradient(135deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3081a4', endColorstr='#1a1e47', GradientType=1 ); padding: 15px;}


.admindashboardcon1_block1_wrapper{ background: url("../images/dashboard_top_line.jpg") repeat-x left bottom; padding:0 0px 15px 0px; background-size: 100%;}

.admindashboardcon1_block1_wrapper table{ width: 100%;}
.admindashboardcon1_block1_wrapper td{ width: 50%; vertical-align: top;}

.admindashboardcon1_block1_wrapper td:nth-of-type(2){  text-align: right;}

.admindashboardcon1_block1_wrapper td span{ display: block; font-size: 16px; color: #fff;  font-family: 'proximanova-regular'; padding-bottom: 6px;}

.admindashboardcon1_block1_wrapper td  .roundimg{ background: #4054a1; width: 86px; height:86px; border-radius: 100px; padding: 2px; border:solid 5px rgba(45, 49, 89, 0.8); display: inline-block; float: right; margin-bottom: 28px; box-shadow: 0 0 30px #333;}



.editlink{display: inline-block; background: #29aae1; font-size: 18px; color: #fff!important; padding:4px 10px; font-family: 'proximanova-bold'; text-transform: uppercase; margin-top: 8px;}
.admindashboardcon1_block2{padding: 0px 8px;}
.admindashboardcon1_block2 .admindashboardcon1_div1{ width: 49%; float: left; background: url("../images/dashboard_top_bg1.jpg") no-repeat right bottom; background-size: cover;}
.admindashboardcon1_block2 .admindashboardcon1_div2{ width: 49%; float: right; background: url("../images/dashboard_top_bg2.jpg") no-repeat right bottom; background-size: cover;}
.admindashboardcon1_block2 .admindashboardcon1_div3{ width: 49%; float: left; background: url("../images/dashboard_top_bg3.jpg") no-repeat right bottom; background-size: cover;  margin-top: 15px;}
.admindashboardcon1_block2 .admindashboardcon1_div4{ width: 49%; float: right; background: url("../images/dashboard_top_bg4.jpg") no-repeat right bottom; background-size: cover; margin-top: 15px;}

.admindashboardcon1_block2 div{ padding: 8px;}
.admindashboardcon1_block2 div table{ width: 100%;}


.admindashboardcon1_block2  table td{ vertical-align: middle;}

.admindashboardcon1_block2 div h1{ margin: 0; padding: 0; font-size: 68px; color: #edeef0;  font-family: 'proximanova-regular'; opacity: 0.5; line-height: 64px;}

.admindashboardcon1_block2 .clearfix{ padding: 0px;}

.admindashboardcon1_block2 span{ font-size: 18px; color: #edeef0; font-family: 'proximanova-bold';}


.admindashboardcon1_block2 .admindashboardcon1_div1  img{ background: #66c96c; width: 60px; height:60px; border-radius: 100px; padding: 2px; border:solid 5px rgba(79, 158, 108, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #0b5928;}
.admindashboardcon1_block2 .admindashboardcon1_div2  img{ background: #fa886f; width: 60px; height:60px; border-radius: 100px; padding: 2px; border:solid 5px rgba(252, 103, 73, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #892511;}
.admindashboardcon1_block2 .admindashboardcon1_div3  img{ background: #56bbf6; width: 60px; height:60px; border-radius: 100px; padding: 2px; border:solid 5px rgba(74, 158, 239, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #124271;}
.admindashboardcon1_block2 .admindashboardcon1_div4  img{ background: #fdbd7b; width: 60px; height:60px; border-radius: 100px; padding: 2px; border:solid 5px rgba(252, 164, 73, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #7f4b16;}


.admindashboardmenublock{ background: #172931; padding: 0 15px;}



.admindashboardmenublock .row{ padding: 0 8px; margin: 0px;}

.admindashboardmenublock .col-sm-2{ width: 100px; margin: 30px 0; padding: 0px;}
.admindashboardmenublock .col-sm-2 img{ width: 100%;}

.admindashboardmenublock .col-sm-3{ width:52px; float: right; padding: 0px; margin-top: 38px;}

.admindashboardmenublock .col-sm-3 .btn-primary{ background: none!important; padding: 0px; border: none; box-shadow: none!important; }

.admindashboardmenublock .col-sm-3 .btn-primary img{ width: 30px; border-radius: 100px; border: solid 1px #fff; padding: 2px; margin-right: 10px;}
.admindashboardmenublock .col-sm-3 .dropdown-menu{ right: 0px!important; left: inherit;}


.admindashboardmenublock  .col-lg-7 {
    width: auto;     margin-top: 53px;
}

.admindashboardmenublock .navbar-inverse{ background: none; border:none; min-height: inherit; margin: 0px;}

.admindashboardmenublock .col-sm-7 .btn-primary{ box-shadow: none!important; background: none!important;  border: none;       padding: 10px 15px; font-size: 16px; color: #fff; font-family: 'proximanova-regular';}
.admindashboardmenublock .col-sm-7 a{ background: none!important;  border: none;       padding: 10px 15px; font-size: 16px; color: #fff!important; font-family: 'proximanova-regular';}


.admindashboardmenublock .dropdown-menu{ border-radius: 0px!important; padding: 0px;}

.admindashboardmenublock .dropdown-menu li{ margin: 0px; padding: 0; border-bottom: solid 1px  #ccc;}
.admindashboardmenublock .dropdown-menu li a{font-size: 16px; color: #172931!important; font-family: 'proximanova-regular'; margin: 0px; padding: 5px; text-align: center;}
.admindashboardmenublock .dropdown-menu li:last-of-type{ border: none;}

.admindashboardmenublock .dropdown-menu li a:hover{ background: #28577f!important; color: #fff!important; }


/*----------------------------------------------repsignup----------------------------------*/

.repsignup_topblock{ border-top: solid 10px #29aae2;}

.repsignup_topblock .row{ width: 1620px; margin: 0 auto; padding:8px 0px; }

.repsignup_topblock .col-xl-4 img{ width: 127px;}

.repsignup_topblock_menudiv{ width: 278px; float: right;}

.repsignup_topblock_menudiv .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none; border-radius: 0px;
}

.repsignup_topblock_menudiv .navbar a{ font-size: 18px; color: #434444!important;   font-family: 'proximanova-semibold';}

.repsignup_topblock_menudiv .navbar-default{ background: none;}

.repsignup_topblock_menudiv .navbar a:hover{ color: #29aae2!important;}
.repsignup_topblock_menudiv .navbar .active{ color: #29aae2!important;}

.repsignup_footer{border-top: solid 10px #29aae2; padding: 15px 0;}
.repsignup_footer .row{ width: 1620px; margin: 0 auto; padding:8px 0px; }

.repsignup_footer .col-xl-8 p{ text-align: right; margin: 0; padding: 15px 0 0 0; font-size: 15px; color: #575057; font-family: 'proximanova-regular';}

.repsignup_footer .col-xl-8 p a{ padding: 0 5px; color: #575057;}
.repsignup_footer .col-xl-8 p a:hover{color: #29aae2!important;}

.repsignup_pageheading{background: url("../images/repsignup_textbg.png") no-repeat right bottom; background-size: cover; border-top: solid 4px #29aae2; border-bottom: solid 4px #29aae2; }

.repsignup_pageheading h2{ text-align: center; margin: 0; padding: 15px 5px; text-transform: uppercase; font-size: 48px; color: #fff; font-family: 'proximanova-bold'; text-shadow: 0 0 1px #0c303f;}


.repsignup_mainbody{background: url("../images/repsignup_bg.png") no-repeat right bottom; }

.repsignup_mainbody .row{ width: 1620px; margin: 0 auto; padding:40px 0px; }

.repsignup_mainbody .form_wrapper{ width: 75%; padding: 20px 1%; background: #fff; display: flex;}

.repsignup_mainbody .form_wrapper .form_div_row{ width: 31.3%; float: left; margin: 0 1%;  position: relative;}

.repsignup_mainbody .form_wrapper .form_div_row h2{ margin: 0; padding: 0px; font-size: 24px; color: #454646; text-transform: uppercase; font-family: 'proximanova-bold';}

.repsignup_mainbody .form_wrapper .form_div_row h3{ margin: 0; padding:20px 0 10px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular';}

.repsignup_mainbody .form_wrapper .form_div_row input[type="text"]{ width: 100%; height: 36px; padding: 0 10px; margin: 6px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular'; background: #fff; border: solid 1px #bbbaba!important; outline: none;}
.repsignup_mainbody .form_wrapper .form_div_row input[type="password"]{ width: 100%; height: 36px; padding: 0 10px; margin: 6px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular'; background: #fff; border: solid 1px #bbbaba!important; outline: none;}
.repsignup_mainbody .form_wrapper .form_div_row select{ width: 100%; height: 36px; padding:0 10px; margin: 6px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular'; background: #fff; border: solid 1px #bbbaba!important; outline: none;}
.repsignup_mainbody .form_wrapper .form_div_row textarea{ width: 100%; height:50px; padding:5px 10px; margin: 6px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular'; resize: none; background: #fff; border: solid 1px #bbbaba!important; outline: none;}

.repsignup_mainbody .form_wrapper ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #454646;
    opacity: inherit; /* Firefox */
}

.repsignup_mainbody .form_wrapper :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #454646;
}

.repsignup_mainbody .form_wrapper ::-ms-input-placeholder { /* Microsoft Edge */
    color: #454646;
}

.has-error{ font-size: 12px; font-family: 'proximanova-regular'; color: #ff0000; display: block; margin-top: -5px;}

.rep_subbtn{ width: 100%; position:absolute; right: 0; top: 474px;  background: #2eb7f2; text-align: center; font-size: 30px; color: #fff; font-family: 'proximanova-bold'; text-transform: uppercase; border: navajowhite; box-shadow: none; line-height: 57px; }


/*----------------login--------------*/

.login_body{background: url("../images/loginbg.jpg") no-repeat center bottom; background-size: cover; width: 100%; height: 100vh; }

.loginlogo{ display: block; margin: 0 auto; margin-top: 60px; width: 200px;}

.login_body h2{ margin: 80px 0; text-align: center; font-size: 48px; color: #fff; text-transform: uppercase; font-family: 'proximanova-bold';}

.login_form_box{ width: 600px; margin: 0 auto; background: #000000; padding:22px 0;}

.login_form_wrapper{background: url("../images/lgoin_border.jpg") no-repeat left top; padding: 0 18px 0 39px; }

.login_form_wrapper input[type="text"]{ width: 100%; height: 45px; background: #242424; border: solid 1px #525353; padding: 0 10px; font-size: 18px; color: #f8ffff; font-family: 'proximanova-regular'; outline: none;}
.login_form_wrapper input[type="password"]{ margin-top: 22px; width: 100%; height: 45px; background: #242424; border: solid 1px #525353; padding: 0 10px; font-size: 18px; color: #f8ffff; font-family: 'proximanova-regular'; outline: none;}

.login_form_wrapper .login_btn{ width: 100%; line-height: 48px; background: #2370ba; text-align: center; font-size: 36px; color: #000000; margin: 22px 0; font-family: 'proximanova-bold'; border: none; cursor: pointer; text-shadow: 1px 1px 0px #0e3f6e; box-shadow: none; outline: none;}

.login_form_wrapper ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f8ffff;
    opacity: inherit; /* Firefox */
}

.login_form_wrapper :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f8ffff;
}

.login_form_wrapper ::-ms-input-placeholder { /* Microsoft Edge */
    color: #f8ffff;
}

.login_form_wrapper .login_link1{ width: 320px; float: left; font-size: 18px; color: #b0b2b2; font-family: 'proximanova-regular';  font-weight: normal; }
.login_form_wrapper .login_link1 a{ color: #2880d4; text-decoration: underline;}
.login_form_wrapper .login_link1 a:hover{ text-decoration: none;}
.login_form_wrapper .login_link2{ width:190px; float: right; font-family: 'proximanova-regular';}
.login_form_wrapper .login_link2 a{ font-size: 18px; color: #f8ffff; font-family: 'proximanova-regular';  font-weight: normal;}
.login_form_wrapper .login_link2 a:hover{ text-decoration: underline;}

.login_form_wrapper .has-error{ padding-top: 10px;}