@charset "utf-8";
body{ margin: 0; padding: 0; background: #edeef0;}
ul, li {list-style: none;	outline: none;}
*{ margin:0; padding:0;}
.clear {clear:both;}
a {text-decoration:none;outline:none; border: none;}
a, a:visited {text-decoration: none;}
a:hover, a:focus {text-decoration: none;	color: inherit;}
a:focus {outline: none;outline: none; outline-offset: inherit;}
a:visited {	text-decoration: none;	outline: none;}


@font-face {
    font-family: 'proximanova-semibold';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'notera_personal_use_onlyRg';

    src: url('../fonts/notera_personaluseonly-webfont.woff2') format('woff2'),

    url('../fonts/notera_personaluseonly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




/* CSS Document */

/* ----Loader css---*/

.loaderdiv{position: relative;width: 100vw; height: 100vh; display: table-cell; vertical-align:middle; text-align: center; }
.loaderdiv .logowrapper{ width: 150px; margin: 0 auto;}
.loader {border: 16px solid #0292dc; /* Blue */border-top: 16px solid #282828; /* Black */	border-radius: 50%;	width: 120px;	height: 120px;	animation: spin 2s linear infinite; margin:0 auto;	  margin-top: 10px;}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ----End Loader css---*/


.admindashboardcon2_sub .admindashboardcon2_sub_wrapper{ background: #fff; padding-bottom: 15px; height: 100%;}

.admindashboardcon2{ padding: 15px 20px;}

.admindashboardcon2_sub{ padding: 0px 8px;}


.admindashboardcon2_sub_condiv_heading{ padding:20px 3% 15px 3%;}

.admindashboardcon2_sub_condiv_heading div{ padding: 0px;}

.admindashboardcon2_sub_condiv_heading h2{ margin: 0; padding: 0; font-size: 24px; color: #57626b;  font-family: 'proximanova-regular';}

.admindashboardcon2_sub_condiv_heading .col-xl-4{ text-align: right;}

.admindashboardcon2_sub_condiv_heading .viewalllink{ display: inline-block; background: #29aae1; font-size: 14px; color: #fff; padding:4px 10px; font-family: 'proximanova-regular';}

.admindashboardcon2_sub_con_wrapper{ padding: 0 1.5%;}
.admindashboardcon2_sub_condiv{ width: 30.3%; float: left; border: solid 1px #d9dbdc; border-radius: 8px; padding: 1px; text-align: center; margin: 5px 1.5%;}

.admindashboardcon2_sub_condiv .sub2_imgdiv{ background: #f0f1f1; padding: 15px; border-radius: 8px 8px 0 0;}
.admindashboardcon2_sub_condiv .sub2_imgdiv img{ max-width: 90%;}

.admindashboardcon2_sub_condiv strong{ display: block; font-size: 16px; color: #557c8c; padding: 10px 0 0 0; font-family: 'proximanova-bold'; text-transform: uppercase;}

.admindashboardcon2_sub_condiv span{ display: block; font-size: 16px; color: #57626b; padding: 2px 0 10px 0; font-family: 'proximanova-regular'; }


.admindashboardcon3{ padding: 0px 20px; margin-bottom: 15px;}

.admindashboardcon3 img{ display: block;  width:100%;}

.admindashboardcon3  .admindashboardcon3_sub {
    padding: 0px 8px;
}


.admindashboardcon1{  padding: 15px 20px 0 20px;}

.admindashboardcon1_block1{padding: 0px 8px;}

.admindashboardcon1_block1_wrapper_body{ background: rgba(48,129,164,1);
    background: -moz-linear-gradient(-45deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(48,129,164,1)), color-stop(50%, rgba(34,57,101,1)), color-stop(100%, rgba(26,30,71,1)));
    background: -webkit-linear-gradient(-45deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    background: linear-gradient(135deg, rgba(48,129,164,1) 0%, rgba(34,57,101,1) 50%, rgba(26,30,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3081a4', endColorstr='#1a1e47', GradientType=1 ); padding: 15px;}


.admindashboardcon1_block1_wrapper{ background: url("../images/dashboard_top_line.jpg") repeat-x left bottom; padding:0 0px 15px 0px; background-size: 100%;}

.admindashboardcon1_block1_wrapper table{ width: 100%;}
.admindashboardcon1_block1_wrapper td{ width: 50%; vertical-align: top;}

.admindashboardcon1_block1_wrapper td:nth-of-type(2){  text-align: right;}

.admindashboardcon1_block1_wrapper td span{ display: block; font-size: 16px; color: #fff;  font-family: 'proximanova-regular'; padding-bottom: 6px;}

.admindashboardcon1_block1_wrapper td  .roundimg{ background: #4054a1; width: 86px; height:86px; border-radius: 100px; padding: 2px; border:solid 5px rgba(45, 49, 89, 0.8); display: inline-block; float: right; margin-bottom: 28px; box-shadow: 0 0 30px #333;}



.editlink{display: inline-block; background: #29aae1; font-size: 18px; color: #fff!important; padding:4px 10px; font-family: 'proximanova-bold'; text-transform: uppercase; margin-top: 8px;}
.admindashboardcon1_block2{padding: 0px 8px;}
.admindashboardcon1_block2 .admindashboardcon1_div1{ width: 49%; float: left; background: url("../images/dashboard_top_bg1.jpg") no-repeat right bottom; background-size: cover;}
.admindashboardcon1_block2 .admindashboardcon1_div2{ width: 49%; float: right; background: url("../images/dashboard_top_bg2.jpg") no-repeat right bottom; background-size: cover;}
.admindashboardcon1_block2 .admindashboardcon1_div3{ width: 49%; float: left; background: url("../images/dashboard_top_bg3.jpg") no-repeat right bottom; background-size: cover;  margin-top: 15px;}
.admindashboardcon1_block2 .admindashboardcon1_div4{ width: 49%; float: right; background: url("../images/dashboard_top_bg4.jpg") no-repeat right bottom; background-size: cover; margin-top: 15px;}

.admindashboardcon1_block2 div{ padding: 8px;}
.admindashboardcon1_block2 div table{ width: 100%;}


.admindashboardcon1_block2  table td{ vertical-align: middle;}

.admindashboardcon1_block2 div h1{ margin: 0; padding: 0; font-size: 68px; color: #edeef0;  font-family: 'proximanova-regular'; opacity: 0.5; line-height: 64px;}

.admindashboardcon1_block2 .clearfix{ padding: 0px;}

.admindashboardcon1_block2 span{ font-size: 18px; color: #edeef0; font-family: 'proximanova-bold';}


.admindashboardcon1_block2 .admindashboardcon1_div1  img{ background: #66c96c; width: 60px; height:60px; border-radius: 100px; padding: 2px; border:solid 5px rgba(79, 158, 108, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #0b5928;}
.admindashboardcon1_block2 .admindashboardcon1_div2  img{ background: #fa886f; width: 60px; height:60px; border-radius: 100px; padding: 2px; border:solid 5px rgba(252, 103, 73, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #892511;}
.admindashboardcon1_block2 .admindashboardcon1_div3  img{ background: #56bbf6; width: 60px; height:60px; border-radius: 100px; padding: 2px; border:solid 5px rgba(74, 158, 239, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #124271;}
.admindashboardcon1_block2 .admindashboardcon1_div4  img{ background: #fdbd7b; width: 60px; height:60px; border-radius: 100px; padding: 2px; border:solid 5px rgba(252, 164, 73, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #7f4b16;}


.admindashboardmenublock{ background: #172931; padding: 0 15px;}



.admindashboardmenublock .row{ padding: 0 8px; margin: 0px;}

.admindashboardmenublock .col-sm-2{ width: 100px; margin: 30px 0; padding: 0px;}
.admindashboardmenublock .col-sm-2 img{ width: 100%;}

.admindashboardmenublock .col-sm-3{ width:52px; float: right; padding: 0px; margin-top: 38px;}

.admindashboardmenublock .col-sm-3 .btn-primary{ background: none!important; padding: 0px; border: none; box-shadow: none!important; }

.admindashboardmenublock .col-sm-3 .btn-primary img{ width: 30px; border-radius: 100px; border: solid 1px #fff; padding: 2px; margin-right: 10px;}
.admindashboardmenublock .col-sm-3 .dropdown-menu{ right: 0px!important; left: inherit;}


.admindashboardmenublock  .col-lg-7 {
    width: auto;     margin-top: 53px;
}

.admindashboardmenublock .navbar-inverse{ background: none; border:none; min-height: inherit; margin: 0px;}

.admindashboardmenublock .col-sm-7 .btn-primary{ box-shadow: none!important; background: none!important;  border: none;       padding: 10px 15px; font-size: 16px; color: #fff; font-family: 'proximanova-regular';}
.admindashboardmenublock .col-sm-7 a{ background: none!important;  border: none;       padding: 10px 15px; font-size: 16px; color: #fff!important; font-family: 'proximanova-regular';}


.admindashboardmenublock .dropdown-menu{ border-radius: 0px!important; padding: 0px;}

.admindashboardmenublock .dropdown-menu li{ margin: 0px; padding: 0; border-bottom: solid 1px  #ccc;}
.admindashboardmenublock .dropdown-menu li a{font-size: 16px; color: #172931!important; font-family: 'proximanova-regular'; margin: 0px; padding: 5px; text-align: center;}
.admindashboardmenublock .dropdown-menu li:last-of-type{ border: none;}

.admindashboardmenublock .dropdown-menu li a:hover{ background: #28577f!important; color: #fff!important; }


/*----------------------------------------------repsignup----------------------------------*/

.repsignup_topblock{ border-top: solid 10px #29aae2;}

.repsignup_topblock .row{ width: 1620px; margin: 0 auto; padding:8px 0px; }

.repsignup_topblock .col-xl-4 img{ width: 127px;}

.repsignup_topblock_menudiv{ width: 278px; float: right;}

.repsignup_topblock_menudiv .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none; border-radius: 0px;
}

.repsignup_topblock_menudiv .navbar a{ font-size: 18px; color: #434444!important;   font-family: 'proximanova-semibold';}

.repsignup_topblock_menudiv .navbar-default{ background: none;}

.repsignup_topblock_menudiv .navbar a:hover{ color: #29aae2!important;}
.repsignup_topblock_menudiv .navbar .active{ color: #29aae2!important;}

.repsignup_footer{border-top: solid 10px #29aae2; padding: 15px 0;}
.repsignup_footer .row{ width: 1620px; margin: 0 auto; padding:8px 0px; }

.repsignup_footer .col-xl-8 p{ text-align: right; margin: 0; padding: 15px 0 0 0; font-size: 15px; color: #575057; font-family: 'proximanova-regular';}

.repsignup_footer .col-xl-8 p a{ padding: 0 5px; color: #575057; cursor: pointer;}
.repsignup_footer .col-xl-8 p a:hover{color: #29aae2!important;}

.repsignup_pageheading{background: url("../images/repsignup_textbg.png") no-repeat right bottom; background-size: cover; border-top: solid 4px #29aae2; border-bottom: solid 4px #29aae2; }

.repsignup_pageheading h2{ text-align: center; margin: 0; padding: 15px 5px; text-transform: uppercase; font-size: 48px; color: #fff; font-family: 'proximanova-bold'; text-shadow: 0 0 1px #0c303f;}


.repsignup_mainbody{background: url("../images/repsignup_bg.png") no-repeat right bottom; }

.repsignup_mainbody .row{ width: 1620px; margin: 0 auto; padding:40px 0px; }

.repsignup_mainbody .form_wrapper{ width: 75%; padding: 20px 1%; background: #fff; display: flex;}

.repsignup_mainbody .form_wrapper .form_div_row{ width: 31.3%; float: left; margin: 0 1%;  position: relative;}

.repsignup_mainbody .form_wrapper .form_div_row h2{ margin: 0; padding: 0px; font-size: 24px; color: #454646; text-transform: uppercase; font-family: 'proximanova-bold';}

.repsignup_mainbody .form_wrapper .form_div_row h3{ margin: 0; padding:20px 0 10px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular';}

.repsignup_mainbody .form_wrapper .form_div_row input[type="text"]{ width: 100%; height: 36px; padding: 0 10px; margin: 6px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular'; background: #fff; border: solid 1px #bbbaba!important; outline: none;}
.repsignup_mainbody .form_wrapper .form_div_row input[type="password"]{ width: 100%; height: 36px; padding: 0 10px; margin: 6px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular'; background: #fff; border: solid 1px #bbbaba!important; outline: none;}
.repsignup_mainbody .form_wrapper .form_div_row select{ width: 100%; height: 36px; padding:0 10px; margin: 6px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular'; background: #fff; border: solid 1px #bbbaba!important; outline: none;}
.repsignup_mainbody .form_wrapper .form_div_row textarea{ width: 100%; height:50px; padding:5px 10px; margin: 6px 0; font-size: 18px; color: #454646; font-family: 'proximanova-regular'; resize: none; background: #fff; border: solid 1px #bbbaba!important; outline: none;}

.repsignup_mainbody .form_wrapper ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #454646;
    opacity: inherit; /* Firefox */
}

.repsignup_mainbody .form_wrapper :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #454646;
}

.repsignup_mainbody .form_wrapper ::-ms-input-placeholder { /* Microsoft Edge */
    color: #454646;
}

.has-error{ font-size: 12px; font-family: 'proximanova-regular'; color: #ff0000; display: block; margin-top: -5px;}

.rep_subbtn{ width: 100%; position:absolute; right: 0; top: 474px;  background: #2eb7f2; text-align: center; font-size: 30px; color: #fff; font-family: 'proximanova-bold'; text-transform: uppercase; border: none; box-shadow: none; line-height: 57px; }


/*----------------login--------------*/

.login_body{background: url("../images/loginbg.jpg") no-repeat center bottom; background-size: cover; width: 100%; height: 100vh; }

.loginlogo{ display: block; margin: 0 auto; margin-top: 60px; width: 200px;}

.login_body h2{ margin: 80px 0; text-align: center; font-size: 48px; color: #fff; text-transform: uppercase; font-family: 'proximanova-bold';}

.login_form_box{ width: 600px; margin: 0 auto; background: #000000; padding:22px 0;}

.login_form_wrapper{background: url("../images/lgoin_border.jpg") no-repeat left top; padding: 0 18px 0 39px; }

.login_form_wrapper input[type="text"]{ width: 100%; height: 45px; background: #242424; border: solid 1px #525353; padding: 0 10px; font-size: 18px; color: #f8ffff; font-family: 'proximanova-regular'; outline: none;}
.login_form_wrapper input[type="password"]{ margin-top: 22px; width: 100%; height: 45px; background: #242424; border: solid 1px #525353; padding: 0 10px; font-size: 18px; color: #f8ffff; font-family: 'proximanova-regular'; outline: none;}

.login_form_wrapper .login_btn{ width: 100%; line-height: 48px; background: #2370ba; text-align: center; font-size: 36px; color: #000000; margin: 22px 0; font-family: 'proximanova-bold'; border: none; cursor: pointer; text-shadow: 1px 1px 0px #0e3f6e; box-shadow: none; outline: none;}

.login_form_wrapper ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f8ffff;
    opacity: inherit; /* Firefox */
}

.login_form_wrapper :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f8ffff;
}

.login_form_wrapper ::-ms-input-placeholder { /* Microsoft Edge */
    color: #f8ffff;
}

.login_form_wrapper .login_link1{ width: 320px; float: left; font-size: 18px; color: #b0b2b2; font-family: 'proximanova-regular';  font-weight: normal; }
.login_form_wrapper .login_link1 a{ color: #2880d4; text-decoration: underline;}
.login_form_wrapper .login_link1 a:hover{ text-decoration: none;}
.login_form_wrapper .login_link2{ width:190px; float: right; font-family: 'proximanova-regular';}
.login_form_wrapper .login_link2 a{ font-size: 18px; color: #f8ffff; font-family: 'proximanova-regular';  font-weight: normal;}
.login_form_wrapper .login_link2 a:hover{ text-decoration: underline;}

.login_form_wrapper .has-error{ padding-top: 10px;}



/*-------------------------------------training-------------------*/

.admin_inner_top{ background: #373c40; border-bottom:solid 1px #fff;}

.admin_inner_top img{ background: #fff; padding: 6px;}

.admininnerwrappe{ width: 1199px; margin: 0 auto;}

.admin_inner_heading{background: rgba(1,131,182,1);
    background: -moz-linear-gradient(left, rgba(1,131,182,1) 0%, rgba(41,170,225,1) 51%, rgba(1,133,181,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,131,182,1)), color-stop(51%, rgba(41,170,225,1)), color-stop(100%, rgba(1,133,181,1)));
    background: -webkit-linear-gradient(left, rgba(1,131,182,1) 0%, rgba(41,170,225,1) 51%, rgba(1,133,181,1) 100%);
    background: -o-linear-gradient(left, rgba(1,131,182,1) 0%, rgba(41,170,225,1) 51%, rgba(1,133,181,1) 100%);
    background: -ms-linear-gradient(left, rgba(1,131,182,1) 0%, rgba(41,170,225,1) 51%, rgba(1,133,181,1) 100%);
    background: linear-gradient(to right, rgba(1,131,182,1) 0%, rgba(41,170,225,1) 51%, rgba(1,133,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0183b6', endColorstr='#0185b5', GradientType=1 ); text-align: center; padding: 28px 0;}

.admin_inner_heading h2{ margin: 0px; text-align: center; display: inline-block; margin: 0 auto; background: #295b73 url("../images/training_page_icon1.png") no-repeat  3px center;  padding: 2px 16px 0px 90px; font-size: 58px; line-height: 63px; color: #fefefe; text-transform: uppercase; font-family: 'proximanova-bold'; }


.admin_inner_body h3{ margin: 0px; padding: 30px 0; font-size: 36px; color: #142c37; font-family: 'proximanova-bold';  line-height: 36px;}

.admin_inner_body h3 span{ color: #29aae1;}


.admin_inner_body .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    background: none;
    border: none;
    box-shadow: none;
}


.admin_inner_body .panel-heading {

    background-color: #0083b4!important; border: none;  box-shadow: none; border-radius: 0px;
}

.admin_inner_body .panel-heading .panel-title{ background: url("../images/training_page_icon2.png") no-repeat right center; font-size: 20px; color: #ffffff; font-family: 'proximanova-regular'; }


.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{ border: none;  border-top:solid 1px #fff;}


.admin_inner_body .panel-body{ background: #ececec; padding: 20px;}

.admin_inner_body .panel-body h4{ text-align: center; padding:0 0 20px 0; margin: 0px; font-size: 24px; color: #000000; font-family: 'proximanova-regular';}

.videoWrapper_div{ width: 80%; margin: 0 auto;}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.admin_inner_body{ background: #fff;}

.admin_inner_footer{ background: #373c40; padding: 30px 0;}

.admin_inner_footer p{ margin: 0; padding: 0; text-align: right; font-size: 13px; color: #fefefe; font-family: 'proximanova-regular';}



.repcontract_inner_body{  background: #fff; padding: 30px 0; font-family: 'proximanova-regular'; font-weight: normal;}

.repcontract_inner_body p{ font-size: 18px; color: #353535; font-family: 'proximanova-regular'; font-weight: normal; margin: 0px; padding: 0 0 30px 0;}

.repcontract_inner_body h6{ margin: 0; padding: 0 0 30px 0; font-size: 24px; color: #295b73;}

.repcontract_inner_body h5{ font-size: 18px; color: #058aca; text-decoration: underline;  font-family: 'proximanova-bold'; margin: 0; padding: 0; padding-bottom: 16px;}

.repcontract_inner_body .listitem1{ padding-bottom: 30px; padding-left: 30px; font-size: 18px; color: #353535;}

.repcontract_inner_body .listitem1 li:nth-of-type(2){ padding: 15px 0;}

.repcontract_inner_body label{ font-size: 18px; color: #426a7f; display: block; margin: 0; padding: 0 0 15px 0;}

.repcontract_inner_body .listitem2{ margin: 0px; padding: 0;}

.repcontract_inner_body .listitem2 li{  background: url("../images/libg2.jpg") no-repeat left 5px; padding: 0 0 0 28px; margin-bottom: 12px;   font-size: 18px; color: #426a7f; }

.repcontract_inner_body .listitem2 li label{ margin: 0; padding: 0; color: #353535; display: inline-block; font-weight: normal; min-width: 270px;}

.repcontract_inner_body span{ display: inline-block; text-decoration: underline; background: #fffc00;}

.sign_blockbody{ border-bottom: solid 1px #d5d6d6; margin-bottom: 30px; padding-bottom: 30px; margin-top: 30px;}

.sign_blockbody .sign_blockbodysub{ width: 400px; float: left; font-size: 18px; color: #353535; font-family: 'proximanova-regular'; font-weight: normal;}

.sign_blockbody .sign_blockbodysub:nth-of-type(1){ border-right: dotted 1px #d5d6d6; padding-right: 30px; margin-right: 30px; }

.sign_blockbody .sign_blockbodysub h6{ padding-bottom: 20px;}



.sign_blockbody .sign_blockbodysub input[type="text"]{ background: #fff; border:none; box-shadow: none; outline:none; padding: 0 10px; border-bottom: solid 1px #4b4b4b;}

.sign_blockbody .sign_blockbodysub strong{ display: block; font-weight: normal; padding: 4px 0 0 45px;}

.repcontract_subbtn{min-width: 180px; line-height: 46px; background: #089cd3; text-transform: uppercase; text-align: center; font-size:18px!important; color: #fff;  font-family: 'proximanova-bold'; border: none; cursor: pointer;  box-shadow: none; outline: none; float: right;}

.popupbtn_wrapper{ text-align: center;}
.popupbtn_wrapper .btn{ margin: 0 2px;}


.row-eq-height {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display:         flex!important;
}


.admindashboardcon2_sub_wrapper_body{ position: relative;}

.admindashboardcon2_sub_wrapper_body h4{ text-align: left; font-size: 26px;  color: #5f6b76; text-transform: uppercase; font-family: 'proximanova-bold'; margin: 0; padding:18px 0 0 110px;}
.admindashboardcon2_sub_wrapper_body label{ font-weight: normal; text-align: left; margin: 0; padding: 0 0 0 110px; font-size:18px; color: #5c5c5d; font-family: 'proximanova-regular'; display: block;}

.webinarsimg{ display: block; margin:30px auto;}

.newtextdiv{background: url("../images/dashboard_2_img1.png") no-repeat left top; background-size: cover; width: 100px; height: 165px; position: absolute;     left: 7px;
    top: -9px; text-align: center; padding-top: 20px;}

.newtextdiv span{ display: block; width: 74px; font-size: 20px; color: #fff; text-transform: uppercase; }
.newtextdiv strong{ display: block; width: 74px; font-size: 25px; color: #fff; text-transform: uppercase; line-height: 19px; }
.newtextdiv p{ text-align: center;  width: 74px; font-size: 14px; color: #333; margin: 0; padding: 0;}


.recruiterdashboard_bottom_con{ background: #fff; padding: 15px; min-height: 100%;}

.recruiterdashboard_bottom_con h2{ font-size: 30px; color: #596a70; font-family: 'proximanova-bold'; text-transform: uppercase; border-bottom: solid 1px #c6c8c9; margin: 0px; padding: 0 0 14px 0; }

.recruiterdashboard_bottom_con h3{ margin: 0px; padding: 16px 0 0 0; font-size: 18px; color: #596a70; text-transform: uppercase; font-family: 'proximanova-regular';}

.progress-bar_body{ width: 100%; height: 30px; margin: 10px 0; background: #152a35; padding: 1px; border-radius: 25px;}

.progress-bar{  height: 100%;  background: #4eff00;  border-radius: 25px;}

.recruiterdashboard_bottom_con label{ margin: 0px; padding:0; font-size: 18px; color: #384042;  font-weight: normal; font-family: 'proximanova-regular'; text-align: center; display: block;}

.recruiterdashboard_bottom_link1{ display: block; width: 100%; background: rgba(49,179,193,1);
    background: -moz-linear-gradient(left, rgba(49,179,193,1) 0%, rgba(25,29,72,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(49,179,193,1)), color-stop(100%, rgba(25,29,72,1)));
    background: -webkit-linear-gradient(left, rgba(49,179,193,1) 0%, rgba(25,29,72,1) 100%);
    background: -o-linear-gradient(left, rgba(49,179,193,1) 0%, rgba(25,29,72,1) 100%);
    background: -ms-linear-gradient(left, rgba(49,179,193,1) 0%, rgba(25,29,72,1) 100%);
    background: linear-gradient(to right, rgba(49,179,193,1) 0%, rgba(25,29,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31b3c1', endColorstr='#191d48', GradientType=1 ); margin:8px auto; display: block; text-align: center;  font-family: 'proximanova-regular';
    font-size: 50px; color: #ebedee!important; text-transform: uppercase; padding: 14px 10px; line-height: 56px;
}


.recruiterdashboard_bottom_link2{ display: block; width: 49.5%; float: left; padding: 14px 10px; color: #ebedee!important;  background: rgba(232,163,137,1);
    background: -moz-linear-gradient(left, rgba(232,163,137,1) 0%, rgba(223,99,134,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,163,137,1)), color-stop(100%, rgba(223,99,134,1)));
    background: -webkit-linear-gradient(left, rgba(232,163,137,1) 0%, rgba(223,99,134,1) 100%);
    background: -o-linear-gradient(left, rgba(232,163,137,1) 0%, rgba(223,99,134,1) 100%);
    background: -ms-linear-gradient(left, rgba(232,163,137,1) 0%, rgba(223,99,134,1) 100%);
    background: linear-gradient(to right, rgba(232,163,137,1) 0%, rgba(223,99,134,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8a389', endColorstr='#df6386', GradientType=1 ); margin-top: 8px; font-size: 20px;   font-family: 'proximanova-regular'; text-align: center;  text-transform: uppercase;}
.recruiterdashboard_bottom_link2 span{ font-size: 30px;
    display: block;
    line-height: 30px;}


.recruiterdashboard_bottom_link3{ display: block; width: 49.5%; float: right; padding: 14px 10px; color: #ebedee!important;
    background: rgba(46,159,216,1);
    background: -moz-linear-gradient(left, rgba(46,159,216,1) 0%, rgba(44,141,238,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,159,216,1)), color-stop(100%, rgba(44,141,238,1)));
    background: -webkit-linear-gradient(left, rgba(46,159,216,1) 0%, rgba(44,141,238,1) 100%);
    background: -o-linear-gradient(left, rgba(46,159,216,1) 0%, rgba(44,141,238,1) 100%);
    background: -ms-linear-gradient(left, rgba(46,159,216,1) 0%, rgba(44,141,238,1) 100%);
    background: linear-gradient(to right, rgba(46,159,216,1) 0%, rgba(44,141,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9fd8', endColorstr='#2c8dee', GradientType=1 );

    margin-top: 8px; font-size: 20px;   font-family: 'proximanova-regular'; text-align: center;  text-transform: uppercase;}


.recruiterdashboard_bottom_link3 span{ font-size: 30px;
    display: block;
    line-height: 30px;}


.sign_blockbodysubform button{width: auto;
    line-height: inherit; border-radius: 5px;
    background: #089cd3;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    color: #fff;
    font-family: 'proximanova-regular';
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: none; padding: 3px 15px 2px 15px;}

.sign_modal .modal-content{border: solid 4px #1a77bc!important; width: 480px;}

.sign_modal  .modal-header {
    padding: 0;
    border-bottom: none;
}

.sign_modal .modal-footer {
    padding: 0 15px 15px 15px;
    text-align: left;
    border-top: none;
}

.popup_logo1{ display: block; margin:  0 auto;}

.sign_modal .modal-content h1 {
    font-family: 'proximanova-regular';
    font-size: 24px;
    color: #1a77bc;
    text-transform: capitalize;
    margin: 0;
    padding: 24px 0 28px 0;
}

.sign_modal .modal-content label {
    font-weight: normal;
    font-family: 'proximanova-regular';
    font-size: 16px;
    color: #000;
    width: 100%;
}

.sign_modal .modal-content input[type="text"] {
    width: 100%;
    height: 40px;
    border: solid 1px #ddd;
    border-radius: 0px;
    padding: 0 5px;
    font-family: 'proximanova-regular';
    font-size: 14px;
    color: #000; outline: none!important;
}


.sign_modal .modal-content   h2 {
    margin: 0;
    padding: 0 0 10px 40px;

    font-family: 'proximanova-regular';
    font-size: 16px!important;
    color: #1a77bc;     background: url(../images/pop_text_top.png) no-repeat left 8px;
}

.sign_modal .modal-content  h3 {
    margin: 0;
    padding: 5px 0 5px 20px;
    font-size: 45px;
    color: #000;
    border-left: solid 1px #1a77bc;
    font-family: 'notera_personal_use_onlyRg'; line-height: 45px; overflow: hidden;;
}

.sign_modal .modal-content h4 {
    font-family: 'proximanova-regular';
    font-size: 16px;
    color: #1a77bc;
    text-transform: capitalize;
    margin: 0;
    padding: 10px 0 0 40px!important;     background: url(../images/pop_text_bottom.png) no-repeat left top;
}

.sign_modal .modal-content h5 {
    margin: 0;
    padding: 0;
    font-family: 'proximanova-regular';
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

.popsigndiv{ margin: 28px 0;  border-radius:  15px 0 0 15px; border-right: none; }

.sign_modal .popbtn1 {
    background: #1a77bc;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'proximanova-regular';
    box-shadow: none;
}

.sign_modal .popbtn2 {
    background: #333;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'proximanova-regular';
    box-shadow: none;
}

.admindashboardcon2_sub .recruiterdashboard_bottom_con h2{ font-size: 20px;}

.admindashboardcon2_sub .recruiterdashboard_bottom_link1{ font-size: 45px; }

.admindashboardcon2_sub .recruiterdashboard_bottom_link2{ font-size: 16px;}
.admindashboardcon2_sub .recruiterdashboard_bottom_link3{ font-size: 16px;}

.admindashboardcon2_sub .recruiterdashboard_bottom_link2 strong{ font-size: 20px; display: block; padding-bottom: 5px;}
.admindashboardcon2_sub .recruiterdashboard_bottom_link3 strong{ font-size: 20px; display: block; padding-bottom: 5px;}

.recruiterdashboard_bottom_link2 span{ display: block; padding-top: 5px;}
.recruiterdashboard_bottom_link3 span{ display: block; padding-top: 5px;}


.salesrepdashboardtopdiv .admindashboardcon1_div2{ float: left;}


.salesrepdashboardtopdiv .admindashboardcon1_div5{ width: 49%; float: right; background: url("../images/salesrepdashboard_bg1.jpg") no-repeat right bottom; background-size: cover;     padding-top: 42px;
    padding-bottom: 43px;}
.salesrepdashboardtopdiv .admindashboardcon1_div5  img{ background: #fdbd7b; width: 130px; height:130px; border-radius: 100px; padding: 2px; border:solid 5px rgba(252, 164, 73, 0.9); display: inline-block; float: right;  box-shadow: 0 0 20px #7f4b16;}


.admindashboardcon1_div5  h6{ font-size: 140px; margin: 0;
    padding: 0;

    color: #edeef0;
    font-family: 'proximanova-regular';
    opacity: 0.5;     line-height: 114px;}



.termsmodaldiv .modal-content {
    border: solid 4px #1a77bc!important;
    width: 100%;
}


.termsmodaldiv .modal-content p {
    margin: 0;
    padding: 0;
    font-family: 'proximanova-regular';
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

.termsmodaldiv .modal-content h1{ margin: 0px; padding: 0px 0 10px 0;  font-family: 'proximanova-bold'; color: #1a77bc; font-size: 24px; }
.termsmodaldiv .modal-content h6{ margin: 0px; padding:10px 0px;  font-family: 'proximanova-bold'; color: #29aae1; font-size: 18px; }



/*-------------------pateints----------*/

.pateints_inner_body{  background: #fff; padding: 30px 0; font-family: 'proximanova-regular'; font-weight: normal;}


.pateintswrappe{ width: 1199px; margin: 0 auto; padding: 0px; }


.pateints_header_left{ width: 50%; float: left;}
.pateints_header_right{ width:458px; float: right;}

.pateints_header_left h2{ margin: 0; padding: 0; font-size: 36px; color: #142c37; font-family: 'proximanova-bold'; text-transform:uppercase;}

.pateints_header_left h2 span{ color: #29aae1;}

.pateints_searchdiv{ width: 320px; height: 30px; float: right; background: #7b7b7b;}
.pateints_searchdiv input[type="text"]{ width: 290px;  height: 30px; float: left;  background: #7b7b7b; border: none; outline: none; font-size: 14px; color: #fff; font-family: 'proximanova-regular';  padding: 0 10px; }

.pateints_searchdiv ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: inherit; /* Firefox */
}

.pateints_searchdiv :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.pateints_searchdiv ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

.pateints_searchdiv input[type="button"]{ background: url(../images/searchicon.png) no-repeat left top; width: 26px; height: 26px; float: right; border: none; box-shadow: none; cursor: pointer; margin: 2px 2px 0 0; cursor: pointer; outline: none}

.pateints_list_weraper{ margin: 20px 0;}

.pateints_list_weraper .row {
    margin-right: 0px;
    margin-left: 0px;
}



.pateints_list_table_header{ background: #cfcfcf; font-size: 16px; color: #707070; font-family: 'proximanova-bold';}

.pateints_list_table_contain{ background: #ececec; font-size: 16px; color: #707070; font-family: 'proximanova-regular'; border-bottom: solid 1px #fff; cursor: pointer;}

.pateints_list_weraper span{ display: block; padding: 5px 0;}

.pateints_list_weraper .div1{ width: 40%; padding: 10px;}
.pateints_list_weraper .div2{ width: 25%;  padding: 10px;}
.pateints_list_weraper .div3{ width: 15%;  padding: 10px;}
.pateints_list_weraper .div4{ width: 20%;  padding: 10px;}

/*-----------------------------------------------------------*/
.pateintdetail_left{ width:825px; float:left;}

.pateintdetail_right{ width:280px; float:right; background:#ececec; padding:18px 20px;}

.pateintdetail_right input{ width:100%; height:44px; margin:1px 0; border:none; padding:0 15px; box-shadow:none; outline:none; cursor:pointer; text-align:left; font-size:18px; color:#fff; text-transform:uppercase; font-family: 'proximanova-semibold'; line-height:46px;}

.pateintdetail_right .btn1{ background:#0083b4;}
.pateintdetail_right .btn2{ background:#295b73;}
.pateintdetail_left_form{ background:#ececec; padding:20px 10px;}
.pateintdetail_left_form .form-group{ width:248px; float:left; margin:0 10px; margin-bottom:10px;}

.pateintdetail_left_form .form-group .form-control{ width:100%; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px;}



.pateintdetail_left_form .form-group textarea{ width:100%; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; resize:none; padding:5px;}


.pateintdetail_left_form h6{ font-size:26px; color:#262626; font-family: 'proximanova-bold'; margin:0px; padding:10px 10px 10px 10px;}

.pateintdetail_left_form .form-group2{ width:100%; margin:0; padding:5px 10px; }

.pateintdetail_left_form .form-group2 .labeltext{ display:block; float:left; width:670px; font-size:16px; color:#262626; font-family: 'proximanova-regular'; font-weight:normal; margin:0px;}

.radiobtn_div1 span{ display:inline-block; padding:0 10px 0 5px;   float:left;}
.radiobtn_div1 label {
    display: inline; margin:0px;
}
.radiobtn_div1  .radio-1 {
    width: 193px;
}
.radiobtn_div1  .button-holder {
    float: none;
    margin-left: 0px;
    margin-top: 0px;
}
.radiobtn_div1  .regular-radio {
    display: none;
}
.radiobtn_div1  .regular-radio + label {
    background-color: #f62121;
    border: 2px solid #cacece;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    padding: 6px;
    position: relative;   float:left;

}
.radiobtn_div1  .regular-radio + label:before {
    /*    background: none repeat scroll 0 0 #FDFDFD;
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
        content: " ";
        font-size: 36px;
        height: 8px;
        left: 7px;
        position: absolute;
        top: 7px;
        width: 8px;*/
}
.radiobtn_div1  .regular-radio:checked + label:after {
    /* background: none repeat scroll 0 0 #94E325;
     border-radius: 50px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
     content: " ";
     font-size: 36px;
     height: 8px;
     left: 7px;
     position: absolute;
     top: 7px;
     width: 8px;*/
}
.radiobtn_div1  .regular-radio:checked + label {
    background-color: #1fa508;
    border: 2px solid #cacece;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    padding: 6px;
    position: relative;
}
.radiobtn_div1  .regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.radiobtn_div1{ margin-top:5px; display:inline-block; float:right;}


.pateintdetail_left_form .form-group3{ width:100%; margin:0; padding:5px 10px; }

.pateintdetail_left_form .form-group3 .labeltext{ display:block; float:left; width:400px; font-size:16px; color:#262626; font-family: 'proximanova-regular'; font-weight:normal; margin:0px; line-height:40px;}

.pateintdetail_left_form .form-group3 .form-control{ width:380px; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left; display:block;}


.pateintdetail_left_form .form-group4{ width:100%; margin:0; padding:5px 10px; }

.pateintdetail_left_form .form-group4 .labeltext{ display:block; float:left; width:218px; font-size:16px; color:#262626; font-family: 'proximanova-regular'; font-weight:normal; margin:0px; line-height:40px;}

.pateintdetail_left_form .form-group4 .form-control{ width:562px; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left;}

.pateintdetail_left_form .form-group5{ width:100%; margin:0; padding:5px 10px; }

.pateintdetail_left_form .form-group5 .labeltext{ display:block; float:left; width:470px; font-size:16px; color:#262626; font-family: 'proximanova-regular'; font-weight:normal; margin:0px; line-height:40px;}

.pateintdetail_left_form .form-group5 .form-control{ width:309px; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left;}


.notes_textarea{ width:470px; height:58px; ackground:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; resize:none; margin-top:20px; padding:5px;}

.pateintquestionire_div1{ width:100%;}

.pateintquestionire_div1 table{ width:100%;}

.pateintquestionire_div1 td{ vertical-align:middle;}

.pateintquestionire_div1 td h2{ margin:0; padding:0; font-size:24px; color:#295b73; font-family: 'proximanova-regular'; }

.pateintquestionire_div1 td span{ display:inline-block; font-size:18px; color:#295b73; font-family: 'proximanova-regular'; margin:0px; padding:0 0 0 5px;}

.pateintquestionire_div1 td h3{ margin:0; padding:0; font-size:24px; color:#295b73; font-family: 'proximanova-regular'; }

.pateintquestionire_div1 td:nth-of-type(1){ width:12%;}

.pateintquestionire_div1 td:nth-of-type(2){ width:60%;}


.pateintquestionire_div1 td:nth-of-type(3){ width:20%;}


.pateintquestionire_div2{ width:100%; border-top:solid 2px #a3a8a9; padding:26px 0; }

.pateintquestionire_div2:nth-of-type(2){margin-top:26px;}


.pateintquestionire_div3{ width:100%; border-top:solid 2px #a3a8a9; padding:26px 0 0 0; }

.pateintquestionire_div2 .pateintquestionire_div2_left{ width:48%; float:left;}

.pateintquestionire_div2 .pateintquestionire_div2_right{ width:48%; float:right;}

.pateintquestionire_div2 h3{ margin:0 0 12px 0; padding:0; font-size:24px; color:#295b73;  border-bottom:solid 1px #a3a8a9; display:inline-block; }

.pateintquestionire_div2 .pateintquestionire_div2_left .form-group{ width:100%; margin:8px 0;}

.pateintquestionire_div2 .pateintquestionire_div2_left .form-group label{ display:block; width:133px; float:left; margin:0px; padding:0px; font-size:16px; color:#5b5c5c; font-weight:normal; font-family: 'proximanova-regular'; }

.pateintquestionire_div2 .pateintquestionire_div2_left .form-group .form-control1_pq{ width:412px;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left;}

.pateintquestionire_div2 .pateintquestionire_div2_left .form-group textarea{ width:412px;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left; resize:none; height:25px;}

.pateintquestionire_div2 .pateintquestionire_div2_left .form-group .form-control2_pq{ width:34%;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left; margin-right:3%}

.pateintquestionire_div2 .pateintquestionire_div2_left .form-group .form-control2_pqr{ width:34%;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:right;}



.pateintquestionire_div2 .pateintquestionire_div2_right .form-group{ width:100%; margin:8px 0;}

.pateintquestionire_div2 .pateintquestionire_div2_right .form-group label{ display:block; width:32px; float:left; margin:0px; padding:0px; font-size:16px; color:#5b5c5c; font-weight:normal; font-family: 'proximanova-regular'; }

.pateintquestionire_div2 .pateintquestionire_div2_right .form-group .form-control3_pq{ width:515px;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left;}



.pateintquestionire_div2 p{ display:block; margin:0px; padding:4px 0; font-size:16px; color:#5b5c5c; font-weight:normal; font-family: 'proximanova-regular'; }

.pclass2 { margin-top:25px;}

.pclass2 p{ color:#295b73;}


.pateintquestionire_div2 .pateintquestionire_div2_right span{ display:inline-block; font-size:16px; color:#5b5c5c; font-family: 'proximanova-regular'; margin:0px; padding:0 0 0 5px;}


.pateintquestionire_div2_left2{ width:926px; float:left;}

.pateintquestionire_div2_right2{ width:200px; float:right;}

.pateintquestionire_div2_right2 label{ display:block; font-size:16px; color:#545656;  font-family: 'proximanova-semibold'; font-weight:normal;}

.pateintquestionire_div2_right2 h3{font-size:18px;}

.pateintquestionire_div2_right2 p{ font-size:14px; padding:0 0 0 10px; font-family: 'proximanova-regular';}



.pateintquestionire_div2_left2 .left2_heading1 { width:180px; float:left;}

.pateintquestionire_div2_left2 .left2_heading2 { width:180px; float:left; margin:0 5px;}

.pateintquestionire_div2_left2 .left2_heading3 { width:130px; float:left; margin:0 5px;}

.pateintquestionire_div2_left2 .left2_heading4 { width:100px; float:left; margin:0 5px;}
.pateintquestionire_div2_left2 .left2_heading5 { width:160px; float:left; margin:0 5px;}
.pateintquestionire_div2_left2 .left2_heading6 { width:112px; float:left; }


.pateintquestionire_div2 h5{ font-size:20px; color:#295b73; margin:0; padding:0px;}
.pateintquestionire_div2 h5 span{ display:inline-block; border-bottom:solid 1px #bbbebf; margin:0; padding:0px; font-family: 'proximanova-regular';}

.pateintquestionire_div2 .pateintquestionire_div2_left2_heading  .left2_heading3 { font-size:16px; color:#545656; font-family: 'proximanova-regular'; text-align:right;}
.pateintquestionire_div2 .pateintquestionire_div2_left2_heading  .left2_heading4 { font-size:16px; color:#545656; font-family: 'proximanova-regular'; text-align:right;}
.pateintquestionire_div2 .pateintquestionire_div2_left2_heading  .left2_heading5 { font-size:16px; color:#545656; font-family: 'proximanova-regular'; text-align:right;}
.pateintquestionire_div2 .pateintquestionire_div2_left2_heading  .left2_heading6 { font-size:16px; color:#545656; font-family: 'proximanova-regular'; text-align:right;}

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain{ margin:2px 0;}

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading1 span{ display:inline-block; float:left;
    margin: 0px;
    padding: 0 5px 0 0;
    font-size: 16px;
    color: #5b5c5c;
    font-weight: normal;
    font-family: 'proximanova-regular';}

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading1 input[type="text"]{  width:140px;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left;}


.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading3 input[type="text"]{  width:94%;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left; }

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading4 input[type="text"]{  width:100%;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; }

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading5 input[type="text"]{  width:100%;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; }

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading6 input[type="text"]{  width:100%;  background:#fff; border:none; border-bottom:solid 1px #b3b3b4; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; }

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading3 span{ display:inline-block; float:right; font-family: 'proximanova-regular'; color: #000; font-size:20px; margin-top:-6px;}

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading6 p{ text-align:center;}

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading2 p{ text-align:right; color:#545656;}

.pateintquestionire_div2 .pateintquestionire_div2_left2_contain .left2_heading2 label{ text-align:right; color:#545656;}

.pateintquestionire_bottom_form{ width:390px; margin:0 auto;}

.pateintquestionire_bottom_form label {
    display: block;
    width: 90px;
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    color: #295b73;
    font-weight: normal;
    font-family: 'proximanova-regular';
}

.pateintquestionire_bottom_form  input{ width:280px;  background:#fff; border:none; border-bottom:solid 1px #646666; border-radius:0px; box-shadow:none; outline:none; font-size: 14px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float:left; margin-top:6px;}


.pateintquestionirebtn { width: 210px;  background: #089cd3; text-align: center; font-size: 30px; color: #fff; font-family: 'proximanova-bold'; text-transform: uppercase; border: none; box-shadow: none; line-height: 44px; float:right; margin-top:20px; }

.callsignautre {
    margin: 0;
    padding: 5px 0 5px 20px;
    font-size: 45px;
    color: #000;
    border-left: solid 1px #1a77bc;
    font-family: 'notera_personal_use_onlyRg';
    line-height: 45px;
    overflow: hidden;
    text-decoration: none !important;
}


.myaccount_form_wrapper{ background: #ececec; padding: 20px;}

.myaccount_form_wrapper h6{ margin: 0; padding: 0 0 0 0; font-size: 24px; color: #295b73;  font-family: 'proximanova-bold';}

.myaccount_form_wrapper h6 a{color: #295b73;}

.myaccount_form_wrapper .form-group{ width: 590px; margin: 20px 0;}

.myaccount_form_wrapper .form-group label{ display: block; width: 218px; line-height: 40px; margin: 0; padding: 0; font-size: 16px; color: #707070; font-family: 'proximanova-bold';text-transform: uppercase; float: left;}

.myaccount_form_wrapper  .form-group .form-control{ width:364px; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 16px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float: right;}
.myaccount_form_wrapper  .form-group .form-control2{ width:364px; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 16px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; float: right;}
.myaccount_form_wrapper  .form-group textarea{ width:364px; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 16px; color: #000; font-family: 'proximanova-regular'; padding:5px; float: right; resize: none;}


.myaccount_form_wrapper  .form-group .form-groupcheckbox{ width:364px;  float: right; font-size: 16px; color: #000; font-family: 'proximanova-regular';}

.myaccount_form_wrapper  .form-group .form-groupcheckbox .checkbox{ margin-right: 2px;}
.myaccount_form_wrapper  .form-group .form-groupcheckbox .form-control{ width: 100%; height:40px; background:#fff; border:solid 1px #dadada; border-radius:0px; box-shadow:none; outline:none; font-size: 16px; color: #000; font-family: 'proximanova-regular'; padding:0 5px; margin-top: 5px;}



.myaccount_btn_wrapper{ width: 235px; float: right; margin-top: 20px;}


.myaccount_btn_wrapper input{ width:107px; height:44px; margin:0 5px; border:none; padding:0 15px; box-shadow:none; outline:none; cursor:pointer; text-align:center; font-size:18px; color:#fff; text-transform:uppercase; font-family: 'proximanova-semibold'; line-height:46px;}

.myaccount_btn_wrapper .btn1{ background:#0083b4;}
.myaccount_btn_wrapper .btn2{ background:#295b73;}



.userrecruiterlist_table_wrapper{ width: 90%; margin: 0 auto;}

.userrecruiterlist_table_wrapper table{ width: 100%; background: #ececec;}

.userrecruiterlist_table_wrapper table td{ border: solid 1px #fff; padding: 18px; text-align: center; font-size: 16px; color: #707070;  font-family: 'proximanova-regular';}
.userrecruiterlist_table_wrapper table th{ border: solid 1px #fff; padding: 18px; text-align: center; font-size: 16px; color: #707070;  font-family: 'proximanova-regular'; background: #cfcfcf; font-weight: normal;}

.userrecruiterlist_table_wrapper table td a{background:#0083b4; cursor:pointer; text-align:center; font-size:16px; padding: 5px 12px; color:#fff;  font-family: 'proximanova-regular';}

.autoheadingwidth{ width: 100%; float: none;}

.userrecruiterdetail_group{ margin: 15px auto;}

.userrecruiterdetail_group .userrecruiterdetail_group_heading{ width: 240px; float: left; font-size: 16px; color: #707070; font-family: 'proximanova-bold';}
.userrecruiterdetail_group .userrecruiterdetail_group_contain{ width: 840px; float: left; font-size: 16px; color: #707070;   font-family: 'proximanova-regular';}

.userrecruiterdetail_btn_wrapper{ margin-bottom: 15px;}

.userrecruiterdetail_btn_wrapper .link1{ width: 162px; display: block; float: left; line-height: 32px; text-align: center; background: #27a8de; font-size: 16px; color: #ffffff;  font-family: 'proximanova-regular'; text-transform: uppercase;}
.userrecruiterdetail_btn_wrapper .link2{ width: 104px; display: block; float: left; line-height: 32px; text-align: center; background: rgba(201,201,201,1);
    background: -moz-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,201,201,1)), color-stop(100%, rgba(161,158,158,1)));
    background: -webkit-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -o-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -ms-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: linear-gradient(to bottom, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#a19e9e', GradientType=0 ); font-size: 16px; color: #0a0a0a;  font-family: 'proximanova-regular'; text-transform: uppercase; margin: 0 4px;}
.userrecruiterdetail_btn_wrapper .link3{ width: 104px; display: block; float: left; line-height: 32px; text-align: center; background: rgba(201,201,201,1);
    background: -moz-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,201,201,1)), color-stop(100%, rgba(161,158,158,1)));
    background: -webkit-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -o-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -ms-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: linear-gradient(to bottom, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#a19e9e', GradientType=0 ); font-size: 16px; color: #0a0a0a;  font-family: 'proximanova-regular'; text-transform: uppercase; margin: 0 4px;}
.userrecruiterdetail_btn_wrapper .link4{ width: 104px; display: block; float: left; line-height: 32px; text-align: center; background: rgba(201,201,201,1);
    background: -moz-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,201,201,1)), color-stop(100%, rgba(161,158,158,1)));
    background: -webkit-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -o-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: -ms-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    background: linear-gradient(to bottom, rgba(201,201,201,1) 0%, rgba(161,158,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#a19e9e', GradientType=0 ); font-size: 16px; color: #0a0a0a;  font-family: 'proximanova-regular'; text-transform: uppercase;}





.patients_btn{ width:126px; height:auto; margin:0 0; border:none; padding:8px 10px; box-shadow:none; outline:none; cursor:pointer; text-align:center; font-size:16px; color:#fff; text-transform:uppercase; font-family: 'proximanova-regular';float: right;  background:#0083b4!important;}

.pateints_searchdiv2{ float: left; margin-top: 4px;}

.notes_textarea2{ height: 80px!important;}

.myaccount_form_wrapper .form-group label h6{ font-size: 20px; padding-top: 5px;}



.pagination_wrapper{ width: 100%; text-align: center; padding: 20px 0 0 0;  font-family: 'proximanova-regular'; font-size: 16px; color: #000;}


.pateints_list_weraper .pagination_wrapper span {
    display: inline-block;
    padding:0 8px; color: #fff!important; font-family: 'proximanova-regular'!important;
}



.pateints_list_weraper .pagination_wrapper li{ padding: 0px 0}

.pateints_list_weraper .pagination_wrapper li a{ background: #000;     margin: 0 1px; min-width: 10px; padding:0 4px;}

.pateints_list_weraper .pagination_wrapper .current{  background: #0083b4;  margin: 0 1px;  }

.pateints_list_weraper .pagination_wrapper .current span{ color: #fff;  min-width: 10px; }

.pagination_wrapper .pagination-previous { font-family: 'proximanova-regular'!important; font-size: 16px!important; color: #7b7b7b!important; background: none!important;}
.pagination_wrapper .pagination-previous span{ color: #7b7b7b!important;}

.pagination_wrapper .pagination-previous a{background: none!important;  padding: 0 8px!important; color: #000!important;}

.pagination_wrapper .pagination-previous  span{ font-family: 'proximanova-regular'!important; font-size: 16px!important; }

.pagination_wrapper .pagination-next { font-family: 'proximanova-regular'!important; font-size: 16px!important; color: #7b7b7b!important; background: none!important;}

.pagination_wrapper .pagination-next span{ color: #7b7b7b!important;}

.pagination_wrapper .pagination-next a{background: none!important; padding: 0 8px!important; color: #000!important;}

.pagination_wrapper .pagination-next  span{ font-family: 'proximanova-regular'!important; font-size: 16px!important; }

.ngx-pagination a, .ngx-pagination button{ padding: 0px!important;}





.compensationmodifier_table_wrapper table{ width: 100%;}
.compensationmodifier_table_wrapper td:nth-of-type(1){ width: 40%; vertical-align: top;}
.compensationmodifier_table_wrapper td:nth-of-type(2){ width: 60%; vertical-align: top;}


.compensationmodifier_table_wrapper table td{ border: solid 1px #fff; padding: 18px; text-align: center; font-size: 16px; color: #707070;  font-family: 'proximanova-regular';}
.compensationmodifier_table_wrapper table th{ border: solid 1px #fff; padding: 18px; text-align: center; font-size: 16px; color: #707070;  font-family: 'proximanova-regular'; background: #cfcfcf; font-weight: normal;}

.compensationmodifier_table_wrapper table td .copyurlbtn{background:#0083b4; cursor:pointer; text-align:center; font-size:16px; padding: 5px 12px; color:#fff;  font-family: 'proximanova-regular'; border: navajowhite; float: right;     width: 100px !important;
    display: block !important; outline: none;}


.compensationmodifier_table_wrapper table td span {
    display: inline-block;
    float: left;
    padding: 7px 0;
}