
<!--<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>
    &lt;!&ndash; <a href="javascript:void(0)"><img src="images/adminlogo.png" alt="#"></a>&ndash;&gt;

  </div>

</div>-->

<app-frontheader></app-frontheader>

<div class="container-fluid admin_inner_heading">

  <h2><span><!--Patients Record-->Patient Record</span></h2>

</div>



<div class="container-fluid pateints_inner_body">
  <div class="container pateintswrappe">

    <!--   <div class="pateints_header">

      <div class="pateints_header_left"><h2>Patient <span>Information</span></h2></div>
      <div class="pateints_header_right"></div>
      <div class="clearfix"></div>


    </div>-->

    <div class="pateints_list_weraper pateints_list_werapernewdiv">

      <form role="form" class="form-inline" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">

        <div class="pateintdetail_left">
          <h6>Manage Contact</h6>
          <div class="pateintdetail_left_form pateintdetail_left_formnew">


            <div class="pateintdetail_left_formnew_left">

              <div class="form-group">
                <label>First Name</label>
                <input type="text"  class="form-control" placeholder="First Name" [formControl]="dataForm.controls['firstname']"/>  <div class="clearfix"></div>
                <span class="has-error" *ngIf ="dataForm.controls['firstname'].touched && !dataForm.controls['firstname'].valid">Firstname is required!</span></div>

              <div class="form-group">
                <label>Last Name</label>
                <input type="text"  class="form-control"  placeholder="Last Name" [formControl]="dataForm.controls['lastname']"/>  <div class="clearfix"></div>
                <span class="has-error" *ngIf ="dataForm.controls['lastname'].touched && !dataForm.controls['lastname'].valid">Lastname is required!</span></div>

              <div class="clearfix"></div>


              <div class="form-group">
                <label>Phone Number</label>
                <input type="text"  class="form-control"  appNumber placeholder="Phone Number" [formControl]="dataForm.controls['phone']"/>  <div class="clearfix"></div>
                <span class="has-error" *ngIf ="dataForm.controls['phone'].touched && !dataForm.controls['phone'].valid">Phone No must be 10 numbers!</span></div>

              <div class="form-group">
                <label>Email Address</label>
                <input type="email"  class="form-control"  placeholder="Email Address" [formControl]="dataForm.controls['email']" />  <div class="clearfix"></div>
                <!-- <span class="has-error" *ngIf ="dataForm.controls['email'].touched && getemail('blank')==true">Emailid is Required !</span>
              <span class="has-error" *ngIf ="dataForm.controls['email'].touched && getemail('invalid')==true">Invalid Emailid!</span>-->
              </div>

              <div class="clearfix"></div>

              <!--
                        <div class="form-group"><textarea  placeholder="Address" [formControl]="dataForm.controls['address']"></textarea>
                          <span class="has-error" *ngIf ="dataForm.controls['address'].touched && !dataForm.controls['address'].valid">Address is required!</span></div>-->

              <div class="form-group">
                <label>City</label>
                <input type="text"  class="form-control"  placeholder="City" [formControl]="dataForm.controls['city']"/>  <div class="clearfix"></div>
                <span class="has-error" *ngIf ="dataForm.controls['city'].touched && !dataForm.controls['city'].valid">City is required!</span></div>

              <div class="form-group">
                <label>State</label>
                <!--<input type="text"  class="form-control"  placeholder="State" [formControl]="dataForm.controls['state']"/> -->
                <select class="form-control" [formControl]="dataForm.controls['state']">
                  <option value="" disabled selected>Select State</option>
                  <option value="{{item.name}}" *ngFor="let item of usastates; let i = index">{{item.name}}</option>
                </select>
                <div class="clearfix"></div>
                <span class="has-error" *ngIf ="dataForm.controls['state'].touched && !dataForm.controls['state'].valid">State is required!</span></div>


              <div class="clearfix"></div>


            </div>

            <div class="pateintdetail_left_formnew_right">

              <div class="form-group">
                <label>Patient ID</label>

                <input type="text"  class="form-control"  placeholder="Patient ID" value="{{patientuniqueid}}" readonly/>  <div class="clearfix" *ngIf="patientuniqueid"></div>
                <span class="has-error hide" >Patient ID is required!</span></div>


              <div class="form-group">
                <label>Date Added</label>
                <input type="text"  class="form-control"  placeholder="Date Added" value="{{patient_added_on}}" readonly/>  <div class="clearfix"></div>
                <span class="has-error hide" >Date Added is required!</span></div>

              <div class="form-group">
                <label>Status</label>
                <input type="text"  class="form-control"  placeholder="Status" readonly value="{{tagstatus}}" *ngIf="tagstatus"/>  <div class="clearfix"></div>
                <span class="has-error hide" >Status is required!</span></div>
              <div class="clearfix"></div>
            </div>







            <!-- <div class="form-group"><input type="text"  class="form-control"  placeholder="Zip" [formControl]="dataForm.controls['zip']"/>
               <span class="has-error" *ngIf ="dataForm.controls['zip'].touched && !dataForm.controls['zip'].valid">Zip is required!</span></div>

             <div class="form-group"><input type="text"  class="form-control"  placeholder="Date of Birth" [formControl]="dataForm.controls['dob']"/>
               <span class="has-error" *ngIf ="dataForm.controls['dob'].touched && !dataForm.controls['dob'].valid">Date Of Birth is required!</span></div>

             <div class="form-group">
             <select [formControl]="dataForm.controls['gender']" class="form-control">
               <option value="" disabled>Gender </option>
               <option value="male" name="gender">Male </option>
               <option value="female" name="gender">Female </option>
             </select>
               <span class="has-error" *ngIf ="dataForm.controls['gender'].touched && !dataForm.controls['gender'].valid">Gender is required!</span>
             </div>


             <div class="form-group"><input type="text"  class="form-control"  placeholder="Race/Ethnicity " [formControl]="dataForm.controls['raceethnicity']"/>
               <span class="has-error" *ngIf ="dataForm.controls['raceethnicity'].touched && !dataForm.controls['raceethnicity'].valid">Race/Ethnicity is required!</span></div>

             <div class="form-group"><input type="text"  class="form-control"  placeholder="Height/Weight" [formControl]="dataForm.controls['heightwidth']"/>
               <span class="has-error" *ngIf ="dataForm.controls['heightwidth'].touched && !dataForm.controls['heightwidth'].valid">Height/Width is required!</span></div>

             <div class="form-group"><input type="text"  class="form-control"  placeholder="Allergies" [formControl]="dataForm.controls['allergies']"/>
               <span class="has-error" *ngIf ="dataForm.controls['allergies'].touched && !dataForm.controls['allergies'].valid">Allergies is required!</span></div>

             <div class="form-group"><input type="text"  class="form-control"  placeholder="Medicare Claim #" [formControl]="dataForm.controls['medicareclaim']"/>
               <span class="has-error" *ngIf ="dataForm.controls['medicareclaim'].touched && !dataForm.controls['medicareclaim'].valid">Medicareclaim is required!</span></div>

             <div class="form-group"><input type="text"  class="form-control"  placeholder="Tag" [formControl]="dataForm.controls['tag']"/></div>
             <div class="form-group"><input type="text"  class="form-control"  placeholder="Tracking Number " [formControl]="dataForm.controls['trackingno']"/>
               <span class="has-error" *ngIf ="dataForm.controls['trackingno'].touched && !dataForm.controls['trackingno'].valid">Tracking No is required!</span></div>-->


            <div class="clearfix"></div>



            <!--   <h6>Qualifying Questions</h6>



            <div class="form-group2">
              <label class="labeltext">Do you currently have the Red, White, or Blue Medicare Part-B Card? </label>
              <div class="radiobtn_div1">
                <div class="button-holder">
                  <input type="radio" checked="" class="regular-radio" name="radio-1-set" id="radio-1-set" [formControl]="dataForm.controls['medicarecard']" value="1"><label for="radio-1-set" ></label><span>YES</span>
                  <input type="radio" checked="" class="regular-radio" name="radio-1-set" id="radio-2-set"  [formControl]="dataForm.controls['medicarecard']" value="0"><label for="radio-2-set"></label><span>NO</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
              <span class="has-error" *ngIf ="dataForm.controls['medicarecard'].touched && !dataForm.controls['medicarecard'].valid">Medicare card is required!</span>
            </div>

            <div class="form-group2">
              <label class="labeltext">Have YOU and/or ANYONE else in your family EVER been diagnosed with any type of cancer? </label>
              <div class="radiobtn_div1">
                <div class="button-holder">
                  <input type="radio" checked="" class="regular-radio" name="radio-3-set" id="radio-3-set" [formControl]="dataForm.controls['iscancer']" value="1"><label for="radio-3-set"></label><span>YES</span>
                  <input type="radio" checked="" class="regular-radio" name="radio-3-set" id="radio-4-set" [formControl]="dataForm.controls['iscancer']" value="0"><label for="radio-4-set"></label><span>NO</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
              <span class="has-error" *ngIf ="dataForm.controls['iscancer'].touched && !dataForm.controls['iscancer'].valid">Please give the number!</span>
            </div>

            <div class="form-group3">
              <label class="labeltext">Do you know what cancer(s) they were diagnosed with?</label>
              <input type="text"  class="form-control" [formControl]="dataForm.controls['cancertypes']" />
              <div class="clearfix"></div>
              <span class="has-error" *ngIf ="dataForm.controls['cancertypes'].touched && !dataForm.controls['cancertypes'].valid">This is a required field!</span>
            </div>

            <div class="form-group4">
              <label class="labeltext">What is their relation to you?  </label>
              <input type="text"  class="form-control" [formControl]="dataForm.controls['relation']"/>
              <div class="clearfix"></div>
              <span class="has-error" *ngIf ="dataForm.controls['relation'].touched && !dataForm.controls['relation'].valid">This is a required field!</span>
            </div>

            <div class="form-group5">
              <label class="labeltext">At what age approximately were they diagnosed with this cancer?  </label>
              <input type="text"  class="form-control" [formControl]="dataForm.controls['approxage']"/>
              <div class="clearfix"></div>
              <span class="has-error" *ngIf ="dataForm.controls['approxage'].touched && !dataForm.controls['approxage'].valid">This is a required field!</span>
            </div>-->



          </div>
          <div class="addbordertop"></div>

          <!--important-->
          <!--<h6>Add Notes</h6>
          <div class="pateintdetail_left_form pateintdetail_left_formnew">
            <div class="addnoteblock">
              <div class="form-group form-group_autowidth">
                <h3 style="cursor: pointer;" class="addnote" (click)="show_div_to_add_note()">+ Add a simple note</h3>
                <div class="addnote-textarea" *ngIf="divaddnote">
                  <textarea placeholder="Notes" [(ngModel)]="addnote"></textarea>
                  <span class="has-error" *ngIf="shownoteerror">No note to add!</span>
                  <button type="button" class="btn btn-primary btnsave" (click)="addsimplenote()">Save</button>
                  <button type="button" class="btn btn-primary btncancel">Cancel </button>
                </div>

                <span class="has-error hide">Notes is required!</span></div>
              <div class="addnote_textarea_table">
                <table class="table table-striped">
                  <tbody>
                  <tr>
                    <td><label>note</label></td>
                    <td><span>John Test</span></td>
                    <td><span>May 24, 2018</span></td>
                  </tr>
                  <tr>
                    <td><label>note</label></td>
                    <td><span>John Test</span></td>
                    <td><span>May 24, 2018</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>-->
          <!--important-->

          <textarea placeholder="Only Notes" class="notes_textarea hidden"></textarea>
        </div>


        <div class="pateintdetail_right">
          <div class="pateints_btn_wrapper">
            <input type="submit"  value="Save" class="btn1" />
            <input type="button"  value="Cancel" class="btn2" (click)="cancel()"/>
            <input type="button"  value="Back - List View" class="btn2" (click)="backtolistview()"/>

            <input type="button"  value="Patient Profile Sheet" class="btn2" (click)="openquesmodal()" *ngIf="iscompletedpatientrecord==0"/>
            <input type="button"  value="View PPS" class="btn2" (click)="openquesmodalreadonly()" *ngIf="iscompletedpatientrecord==1"/>
            <input type="button"  value="Download PPS" class="btn2" *ngIf="iscompletedpatientrecord==1"/>
          </div>
        </div>

        <div class="clearfix"></div>

      </form>


      <div class="notes_divwrapper">
        <h6 class="h6_texthading">Add Notes</h6>
        <div class="pateintdetail_left_form pateintdetail_left_formnew">
          <div class="addnoteblock">
            <div class="form-group form-group_autowidth">
              <h3 style="cursor: pointer;" class="addnote" (click)="show_div_to_add_note()">+ Add a simple note</h3>
              <div class="addnote-textarea" *ngIf="divaddnote">
                <textarea placeholder="Notes" [(ngModel)]="addnote"></textarea>

                <button type="button" class="btn btn-primary btnsave" (click)="addsimplenote()" *ngIf="addit==1">Save</button> <!-- 1 for add-->
                <button type="button" class="btn btn-primary btnsave" (click)="updatesimplenote()" *ngIf="addit==0">Update</button> <!-- 2 for update -->
                <button type="button" class="btn btn-primary btncancel" (click)="cancelnote()">Cancel </button>
              </div>
              <span class="has-error" *ngIf="shownoteerror">Note is required!</span>
            </div>
            <div class="addnote_textarea_table" *ngIf="noteslist">
              <table class="table table-striped">
                <!--    <tbody *ngFor="let item of allnotearr; let i = index">-->
                <tr *ngFor="let item of noteslist | paginate: { itemsPerPage: 5, currentPage: p }; let j = index">
                  <td><label>{{item.note}}</label></td>
                  <td><span>{{showname(item.added_by)}}</span></td>
                  <td><span>{{showtime(item.added_on)}}</span></td>
                  <td><span (click)="editnote(item)" class="note_link">Edit</span>
                    <span (click)="deletenote(item._id)" class="note_link">Delete</span></td>
                </tr>
                <!-- <tr>
                <td><label>note</label></td>
                <td><span>John Test</span></td>
                <td><span>May 24, 2018</span></td>
              </tr>-->
                <!--  </tbody>-->
              </table>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>








  </div>

</div>
<!--<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>-->

<app-frontfooter></app-frontfooter>


<!--<div *ngIf="pateintquestioniremodal" class=" sign_modal pateintquestioniremodal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
<div *ngIf="pateintquestioniremodal" class=" sign_modal pateintquestioniremodal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <!-- <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#" style="display: block; margin: 0 auto; margin-bottom: 15px;"></a>-->

        <div class="container-fluid admin_inner_heading">

          <h2><span>Patient Profile Sheet-(Medicare) </span></h2>

        </div>





        <div class="container-fluid pateints_inner_body">
          <div class="container pateintswrappe">



            <div class="pateints_list_weraper">
              <form role="form" novalidate [formGroup]="dataForm1" (ngSubmit)="dosubmit1(dataForm1.value)" id="formquestionary" name="formquestionary">

                <div class="pateintquestionire_div1">
                  <table>
                    <tr>
                      <td><h2> PRODUCT<br/> REQUESTED </h2></td>
                      <td>
                        <!-- <input  type="checkbox"/> <span>DME</span><br/>
                        <input  type="checkbox"/><span> Rx</span><br/>
                        <input  type="checkbox"/><span>PGX</span><br/>-->
                        <input  type="checkbox" [formControl]="dataForm1.controls['cgx1']"/> <span>CGX</span><br/>
                        <input  type="checkbox" disabled [formControl]="dataForm1.controls['pgxval']" class="pgxvalclass"/> <span>PGX</span>
                      </td>
                      <td>
                        <div class="pateintquestionire_bottom_form pateintquestionire_top_form">
                          <label>Patient Id: </label>
                          <input type="text" value="{{patientuniqueid}}" readonly/>

                          <div class="clearfix"></div>

                        </div>
                      </td>
                      <td>
                        <h3>Altus Health Group<br/>
                          610 W Congress Street<br/>
                          Detroit, MI 48226
                        </h3>
                      </td>

                    </tr>

                  </table>




                  <div class="clearfix"></div>
                </div>

                <div class="pateintquestionire_div2">
                  <div class="pateintquestionire_div2_left">

                    <h3>PATIENT INFORMATION</h3>

                    <div class="form-group">
                      <label>First Name: <span>*</span> </label><input type="text"  class="form-control1_pq" [formControl]="dataForm1.controls['firstname1']" />
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['firstname1'].touched && !dataForm1.controls['firstname1'].valid">First Name is required!</span>
                    </div>

                    <div class="form-group">
                      <label>Last Name: <span>*</span></label><input type="text"  class="form-control1_pq" [formControl]="dataForm1.controls['lastname1']"/>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['lastname1'].touched && !dataForm1.controls['lastname1'].valid">Last Name is required!</span>
                    </div>

                    <div class="form-group">
                      <label>Best Phone #: <span>*</span></label><input type="text"  appNumber class="form-control1_pq" [formControl]="dataForm1.controls['phone1']"/>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['phone1'].touched && !dataForm1.controls['phone1'].valid">Phone no. length should be 10!</span>
                    </div>


                    <div class="form-group">
                      <label>Address: <span>*</span></label><textarea [formControl]="dataForm1.controls['address1']"></textarea>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['address1'].touched && !dataForm1.controls['address1'].valid">Address is required!</span>
                    </div>


                    <div class="form-group">
                      <label>City: <span>*</span></label><input type="text"  class="form-control1_pq" [formControl]="dataForm1.controls['city1']"/>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['city1'].touched && !dataForm1.controls['city1'].valid">City is required!</span>
                    </div>

                    <div class="form-group">
                      <label>State: <span>*</span></label>
                      <select class="form-control" [formControl]="dataForm1.controls['state1']" disabled="disabled">
                        <option value="" disabled selected>Select State</option>
                        <option value="{{item.name}}" *ngFor="let item of usastates; let i = index">{{item.name}}</option>
                      </select>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['state1'].touched && !dataForm1.controls['state1'].valid">State is required!</span>
                    </div>
                    <div class="form-group">
                      <label>Zip: <span>*</span></label><input type="text"  class="form-control1_pq" [formControl]="dataForm1.controls['zip1']"/>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['zip1'].touched && !dataForm1.controls['zip1'].valid">Zip is required!</span>
                    </div>

                    <div class="form-group">
                      <label>Date of Birth: <span>*</span></label><input type="text"  class="form-control1_pq" [formControl]="dataForm1.controls['dob1']"/>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['dob1'].touched && !dataForm1.controls['dob1'].valid">Date of Birth is required!</span>
                    </div>

                    <div class="form-group">
                      <label>Gender: <span>*</span></label>
                      <input type="radio" name="gender1" value="male" class="inputradiocls" [formControl]="dataForm1.controls['gender1']"/>Male
                      <input type="radio" name="gender1" value="female" class="inputradiocls" [formControl]="dataForm1.controls['gender1']"/>Female
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['gender1'].touched && !dataForm1.controls['gender1'].valid">Gender is required!</span>
                    </div>

                    <div class="form-group">
                      <label>Race/Ethnicity: <span>*</span></label><input type="text"  class="form-control1_pq" [formControl]="dataForm1.controls['race1']"/>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['race1'].touched && !dataForm1.controls['race1'].valid">Race/Ethnicity is required!</span>
                    </div>

                    <div class="form-group">
                      <label>HT/WT : <span>*</span></label><input type="text"  class="form-control2_pq" [formControl]="dataForm1.controls['height1']"/> /<input type="text"  class="form-control2_pqr" [formControl]="dataForm1.controls['width1']"/>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['height1'].touched && !dataForm1.controls['height1'].valid">Height is required!</span>
                      <span class="has-error" *ngIf ="dataForm1.controls['width1'].touched && !dataForm1.controls['width1'].valid">Width is required!</span>
                    </div>

                    <div class="form-group">
                      <label>Allergies:</label><input type="text"  class="form-control1_pq" [formControl]="dataForm1.controls['allergies1']"/>
                      <div class="clearfix"></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['allergies1'].touched && !dataForm1.controls['allergies1'].valid">These is a required field!</span>
                    </div>

                    <div class="form-group">
                      <label>Medicare Claim # <span>*</span></label><input type="text"  class="form-control1_pq" [formControl]="dataForm1.controls['medicareclaim1']"/>
                      <span class="has-error" *ngIf ="dataForm1.controls['medicareclaim1'].touched && !dataForm1.controls['medicareclaim1'].valid">These is a required field!</span>
                      <div class="clearfix"></div>
                    </div>



                  </div>

                  <div class="pateintquestionire_div2_right">
                    <h3>SPECIAL NOTES</h3>


                    <div class="form-group">
                      <label>A) : </label><input type="text"  class="form-control3_pq" [formControl]="dataForm1.controls['notes1']"/>
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      <label>B) : </label><input type="text"  class="form-control3_pq" [formControl]="dataForm1.controls['notes2']"/>
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      <label>C) : </label><input type="text"  class="form-control3_pq" [formControl]="dataForm1.controls['notes3']"/>
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      <label>D) : </label><input type="text"  class="form-control3_pq" [formControl]="dataForm1.controls['notes4']"/>
                      <div class="clearfix"></div>
                    </div>


                  </div>


                  <div class="clearfix"></div>
                </div>


                <div class="pateintquestionire_div2">
                  <div class="pateintquestionire_div2_left">

                    <h3>Pharmacy</h3>

                    <div class="pdivcalass1">
                      <span>Pharmacy Insurance Name:</span>
                      <input type="text" [formControl]="dataForm1.controls['pharmacyinsurancename']">

                      <div class="clearfix"></div>
                    </div>


                    <div class="pdivcalass"><span>ID #:</span> <input type="text" [formControl]="dataForm1.controls['pharmacyid']">
                      <div class="clearfix"></div></div>
                    <div class="pdivcalass"><span>BIN #:</span> <input type="text" [formControl]="dataForm1.controls['pharmacybin']"> <div class="clearfix"></div></div>
                    <div class="pdivcalass"><span>PCN #:</span> <input type="text" [formControl]="dataForm1.controls['pharmacypcn']"> <div class="clearfix"></div></div>
                    <div class="pdivcalass"><span>GROUP #:</span> <input type="text" [formControl]="dataForm1.controls['pharmacygroup']"> <div class="clearfix"></div></div>

                    <div class="pclass2">
                      <div class="pdivcalass"><span> History / Reason:</span> <input type="text" [formControl]="dataForm1.controls['pharmacyhistory']"> <div class="clearfix"></div></div>
                      <div class="pdivcalass"><span>Area(s) of Issue:</span> <input type="text" [formControl]="dataForm1.controls['pharmacyissue']"> <div class="clearfix"></div></div>
                      <div class="pdivcalass"><span>Treatments:</span><input type="text" [formControl]="dataForm1.controls['pharmacytreatment']"> <div class="clearfix"></div></div>

                    </div>



                  </div>

                  <div class="pateintquestionire_div2_right">
                    <h3>Products Requested</h3>


                    <p> <input  type="checkbox" [formControl]="dataForm1.controls['topicalpain']"/> <span>TOPICAL PAIN</span><br/></p>
                    <p>  <input  type="checkbox" [formControl]="dataForm1.controls['oralpain']"/><span> ORAL PAIN</span><br/></p>
                    <p>  <input  type="checkbox" [formControl]="dataForm1.controls['derma']"/><span>DERMA</span><br/></p>
                    <p>  <input  type="checkbox" [formControl]="dataForm1.controls['migrane']"/> <span>MIGRAINE/HA</span></p>

                  </div>


                  <div class="clearfix"></div>
                </div>


                <div class="pateintquestionire_div2">

                  <div class="pateintquestionire_div2_left2 pateintquestionire_div2_left2new">
                    <div class="pateintquestionire_div2_left2_heading">
                      <div class="left2_heading2"><h5 style="text-transform: uppercase;"><!--<span>CGX</span>--> Questionnaire</h5></div>
                      <div class="left2_heading3"><p>TYPE<span style="color: #ff0000; display: inline;">*</span></p></div>
                      <div class="left2_heading4"><p>TYPE</p></div>
                      <div class="left2_heading5"><p>AGE DIAGNOSED</p></div>
                      <div class="left2_heading6"><p> IF DECEASED,</p></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p><strong>PERSONAL HISTORY:</strong></p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['phtype1']"/></div>
                      <span class="has-error" *ngIf ="dataForm1.controls['phtype1'].touched && !dataForm1.controls['phtype1'].valid">This is required!</span>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['phtype2']"/></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['phage']"/></div>
                      <div class="left2_heading6"><p>AGE AT<br/>
                        DEATH</p></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p><strong>FAMILY HISTORY:</strong></p></div>
                      <div class="left2_heading3">&nbsp;</div>
                      <div class="left2_heading4">&nbsp;</div>
                      <div class="left2_heading5">&nbsp;</div>
                      <div class="left2_heading6">&nbsp;</div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>MOTHER:</p></div>
                      <div class="left2_heading3"><input type="text"  [formControl]="dataForm1.controls['motype1']"/><span>,</span></div>
                      <div class="left2_heading4"><input type="text"  [formControl]="dataForm1.controls['motype2']"/></div>
                      <div class="left2_heading5"><input type="text"  [formControl]="dataForm1.controls['moage']"/></div>
                      <div class="left2_heading6"><input type="text"  [formControl]="dataForm1.controls['modead']"/></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>FATHER:</p></div>
                      <div class="left2_heading3"><input type="text"  [formControl]="dataForm1.controls['fatype1']"/><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['fatype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['faage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['fadead']" /></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>DAUGHTER:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['dautype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['dautype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['dauage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['daudead']" /></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>SON:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['sontype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['sontype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['sonage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['sondead']" /></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>BROTHER:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['brotype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['brotype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['broage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['brodead']" /></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>SISTER:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['sistype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['sistype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['sisage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['sisdead']" /></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>NEPHEW:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['neptype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['neptype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['nepage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['nepdead']" /></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>NIECE:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['niecetype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['niecetype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['nieceage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['niecedead']" /></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>UNCLE:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['unctype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['unctype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['uncage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['uncdead']" /></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>AUTN:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['autntype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['autntype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['autnage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['autndead']" /></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>MOM'S FATHER:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['moftype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['moftype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['mofage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['mofdead']" /></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>MOM'S MOTHER:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['momotype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['momotype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['momoage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['momodead']" /></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>DAD'S FATHER:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['daftype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['daftype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['dafage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['dafdead']" /></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p>DAD'S MOTHER:</p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['damtype1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['damtype2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['damage']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['damdead']" /></div>


                      <div class="clearfix"></div>
                    </div>

                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p><i>OTHER :</i></p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['oth1type1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['oth1type2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['oth1age']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['oth1dead']" /></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p><i>OTHER :</i></p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['oth2type1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['oth2type2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['oth2age']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['oth2dead']" /></div>


                      <div class="clearfix"></div>
                    </div>
                    <div class="pateintquestionire_div2_left2_contain">
                      <div class="left2_heading2"><p><i>OTHER :</i></p></div>
                      <div class="left2_heading3"><input type="text" [formControl]="dataForm1.controls['oth3type1']" /><span>,</span></div>
                      <div class="left2_heading4"><input type="text" [formControl]="dataForm1.controls['oth3type2']" /></div>
                      <div class="left2_heading5"><input type="text" [formControl]="dataForm1.controls['oth3age']" /></div>
                      <div class="left2_heading6"><input type="text" [formControl]="dataForm1.controls['oth3dead']" /></div>


                      <div class="clearfix"></div>
                    </div>

                  </div>


                  <div class="pateintquestionire_div2_right2">

                    <div class="row">
                      <div class="col-md-6">
                        <h3>Type of Cancer</h3>

                        <label>* <u>Breast</u></label>
                        <label>* <u>Ovarian</u></label>
                        <label>* Digestive</label>
                        <p>
                          - Pancreatic<br/>
                          - Colon<br/>
                          - Rectal<br/>
                          - Gallbladder<br/>
                          - Intestinal<br/>
                          - Stomach<br/>
                          - Esophageal<br/>
                          - Throat<br/>
                          - Liver
                        </p>

                        <label>* Lung</label>
                        <p>
                          - Other Respiratory
                        </p>


                        <label>* Genital</label>
                        <p>
                          - Cervical<br/>
                          - Uterine<br/>
                          - Endometrial<br/>
                          - Other Genital Organs
                        </p>

                        <label>* Prostate</label>
                        <label>* Testicular</label>
                        <label>* Kidney</label>
                        <label>* Bladder</label>
                        <p>- Urinary Tract</p>

                        <label>* Leukemia</label>
                        <label>* Lymphatic</label>
                        <label>* Other Organ Systems</label>
                      </div>
                      <div class="col-md-6 pateintquestionirerightPGX">
                        <div class="pateintquestionire_div2_left2_heading">
                          <div class="left2_heading1"><h5 style="text-align: left;">MEDICATION LIST</h5></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>1.</span> <input type="text" [formControl]="dataForm1.controls['pgx1']" (blur)="checkpgx(dataForm1.controls['pgx1'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew containnew1">
                          <div class="left2_heading1"><span>2.</span> <input type="text" [formControl]="dataForm1.controls['pgx2']" (blur)="checkpgx(dataForm1.controls['pgx2'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>3.</span> <input type="text" [formControl]="dataForm1.controls['pgx3']" (blur)="checkpgx(dataForm1.controls['pgx3'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>4.</span> <input type="text" [formControl]="dataForm1.controls['pgx4']" (blur)="checkpgx(dataForm1.controls['pgx4'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>5.</span> <input type="text" [formControl]="dataForm1.controls['pgx5']" (blur)="checkpgx(dataForm1.controls['pgx5'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>6.</span> <input type="text" [formControl]="dataForm1.controls['pgx6']" (blur)="checkpgx(dataForm1.controls['pgx6'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>7.</span> <input type="text" [formControl]="dataForm1.controls['pgx7']" (blur)="checkpgx(dataForm1.controls['pgx7'].value)" /></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>8.</span> <input type="text" [formControl]="dataForm1.controls['pgx8']" (blur)="checkpgx(dataForm1.controls['pgx8'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>9.</span> <input type="text" [formControl]="dataForm1.controls['pgx9']" (blur)="checkpgx(dataForm1.controls['pgx9'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>10.</span> <input type="text" [formControl]="dataForm1.controls['pgx10']" (blur)="checkpgx(dataForm1.controls['pgx10'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>11.</span> <input type="text" [formControl]="dataForm1.controls['pgx11']" (blur)="checkpgx(dataForm1.controls['pgx11'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>12.</span> <input type="text" [formControl]="dataForm1.controls['pgx12']" (blur)="checkpgx(dataForm1.controls['pgx12'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>13.</span> <input type="text" [formControl]="dataForm1.controls['pgx13']" (blur)="checkpgx(dataForm1.controls['pgx13'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>14.</span> <input type="text" [formControl]="dataForm1.controls['pgx14']" (blur)="checkpgx(dataForm1.controls['pgx14'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>15.</span> <input type="text" [formControl]="dataForm1.controls['pgx15']" (blur)="checkpgx(dataForm1.controls['pgx15'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>16.</span> <input type="text" [formControl]="dataForm1.controls['pgx16']" (blur)="checkpgx(dataForm1.controls['pgx16'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>17.</span> <input type="text" [formControl]="dataForm1.controls['pgx17']" (blur)="checkpgx(dataForm1.controls['pgx17'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>18.</span> <input type="text" [formControl]="dataForm1.controls['pgx18']" (blur)="checkpgx(dataForm1.controls['pgx18'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pateintquestionire_div2_left2_contain pateintquestionire_div2_left2_containnew">
                          <div class="left2_heading1"><span>19.</span> <input type="text" [formControl]="dataForm1.controls['pgx19']" (blur)="checkpgx(dataForm1.controls['pgx19'].value)"/></div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>



                  </div>

                  <div class="clearfix"></div>
                </div>

                <div class="pateintquestionire_div3">

                  <div class="pateintquestionire_bottom_form">
                    <label>Rep ID: </label>
                    <input type="text" value="{{repuniqueid}}" *ngIf="repuniqueid"/>

                    <div class="clearfix"></div>

                  </div>

                  <input type="button"  value="Cancel" class="pateintquestionirebtn pateintquestionirebtn2" (click)="onHidden()"/>
                  <input type="submit"  value="Submit" class="pateintquestionirebtn" (click)="submitpateintquestionire()"/>
                  <input type="submit"  value="Save" class="pateintquestionirebtn" (click)="savepateintquestionire()"/>




                  <div class="clearfix"></div>

                </div>



                <div class="clearfix"></div>

              </form>

            </div>








          </div>

        </div>







      </div>
      <!-- <div class="modal-footer" >
        <button type="button" class="btn btn-default popbtn1" data-dismiss="modal" (click)="onHidden()">Cancel</button>
        <button type="button" class="btn btn-primary popbtn2" data-dismiss="modal" (click)="savepateintquestionire()">Agree</button>
      </div>-->
    </div>
  </div>
</div>


<div *ngIf="opensaveorsubmitmodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
        <h1 class="text-center" *ngIf="issubmit==false">Profile Patient Sheet Successfully Saved!</h1>
        <h1 class="text-center" *ngIf="issubmit==true">Profile Patient Sheet Successfully Submitted!</h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showdeletesuccessmodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
        <h1 class="text-center">Your note has been deleted.</h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="successfuladdnotemodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
        <h1 class="text-center">Your note has been added.</h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="successfulupdatenotemodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
        <h1 class="text-center">Your note has been updated.</h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showdeletenotemodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/adminlogo.png" alt="#" class="popup_logo1">
        <h1 class="text-center">Are you sure that you want to delete this note?</h1>
        <div class="modal-footer popupnewbtnwrapper">
          <button class="btn btn-primary popbtn2" (click)="deletethisnote()">Yes</button>
          <button class="btn btn-primary popbtn2" (click)="onHidden()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
