<div class="container-fluid repsignup_topblock">
  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"><a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a></div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <div class="repsignup_topblock_menudiv">
      <nav class="navbar navbar-default">


          <ul class="nav navbar-nav">
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Contact</a></li>
            <li><a href="javascript:void(0)">Rep login</a></li>

          </ul>

      </nav>

    </div>
    </div>


     <div class="clearfix"></div>
  </div>

</div>
<div class="container-fluid repsignup_pageheading">
  <div class="row">
    <h2>Representative Sign-Up</h2>
  </div>
</div>


<div class="container-fluid repsignup_mainbody">
  <div class="row">

<div class="form_wrapper">

  <form>

    <div class="form_div_row">
      <h2>Account Information</h2>
      <h3>Rep ID: 2349</h3>
      <input type="text" placeholder="Username ">
      <!--<span class="has-error">error text</span>-->
      <input type="password" placeholder="Password  ">
      <!--<span class="has-error">error text</span>-->
      <input type="password" placeholder="Confirm Password ">

      <!--<span class="has-error">error text</span>-->


    </div>

    <div class="form_div_row">
      <h2>User Information</h2>
      <h3>&nbsp;</h3>
      <input type="text" placeholder="First Name ">
      <!--<span class="has-error">error text</span>-->
      <input type="text" placeholder="Last Name">
      <!--<span class="has-error">error text</span>-->
      <textarea placeholder="Address "></textarea>
      <!--<span class="has-error">error text</span>-->
      <textarea placeholder="Address 2 "></textarea>
      <!--<span class="has-error">error text</span>-->
      <input type="text" placeholder="City ">
      <!--<span class="has-error">error text</span>-->
      <input type="text" placeholder="State  ">
      <!--<span class="has-error">error text</span>-->
      <input type="text" placeholder="Zip   ">
      <!--<span class="has-error">error text</span>-->
      <select>
        <option>Gender </option>
        <option>Male </option>
        <option>Female </option>


      </select>
      <!--<span class="has-error">error text</span>-->
      <input type="text" placeholder="Date of Birth   ">

      <!--<span class="has-error">error text</span>-->



    </div>
    <div class="form_div_row">
      <h2>Contact Information
      </h2>
      <h3>&nbsp;</h3>
      <input type="text" placeholder="Email Address">
      <!--<span class="has-error">error text</span>-->
      <input type="text" placeholder="Phone Number">

      <!--<span class="has-error">error text</span>-->
      <input type="submit" value="submit" class="rep_subbtn">

      <div class="clearfix"></div>
    </div>


    <div class="clearfix"></div>

  </form>


</div>

  </div>
</div>



<div class="container-fluid repsignup_footer">
  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"><a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a></div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">

      <p> <a href="javascript:void(0)">Terms & Conditions</a> | <a href="javascript:void(0)">Privacy Policy</a> | <span>Copyright &copy; 2017 NEX HEALTH CARE. All Rights Reserved.</span></p>

    </div>


    <div class="clearfix"></div>
  </div>

</div>