<app-header></app-header>
<div class="container-fluid repsignup_pageheading">
  <div class="row">
    <h2>Sales Rep Sign-Up</h2>
  </div>
</div>


<div class="container-fluid repsignup_mainbody repsignup_mainbodynew">
  <div class="row row-eq-height">

      <div class="col-xs-6 form_wrapper_text">

          <h2>Save lives and boost your
              monthly income no cost
              cancer screening
          </h2>

          <h3>Please fill out the information to the right
              and get signed up right away!</h3>

          <h4>Offer Genetic Cancer Screening to your clients!</h4>

          <div class="form_wrapper_text_subdiv">
              <img src="../../assets/images/new_repsignup_img1.jpg" alt="#">
               <h5>HURRY. This is a 360 win for you and your clients and is available Nationwide! Help save
                   lives and get a boost to your current monthly income.</h5>

          </div>
          <div class="form_wrapper_text_subdiv">
              <img src="../../assets/images/new_repsignup_img2.jpg" alt="#">
              <h5>All your clients, age 65 and older, will benefit from this new noninvasive at home DNA genetic screening for cancer. </h5>

          </div>


          <div class="clearfix"></div>


          <div class="form_wrapper_text_subdiv2">
              <label>This test is no cost to your clients that have the Plan B Medicare card</label>
              <label>Quickly qualify them and fill out the quick info patient intake
                  form then make one call for validation.</label>
              <label>They will be immediately contacted for an over the phone
                  consultation by one of qualified physicians
              </label>
              <label>Once they are fully qualified a req form is submitted by the doctor
                  and your commission is earned!
              </label>
              <label>The test is sent to them by mail within 2 to 3 days and you are saving lives.
              </label>

          </div>


          <div class="form_wrapper_text_subdiv3">
              <strong>THIS IS EASY</strong>
              <span>What can you expect from us?</span>


              <ul>
                  <li><p>Rapid training and solid support for onboarding  </p></li>
                  <li><p> National sales calls where we continue to give support and information  </p></li>
                  <li><p>A CRM where you can add in all your qualified clients and track your commissions  </p></li>

              </ul>


          </div>



          <h3>Please fill out the information to the right
              and get signed up right away!</h3>


      </div>

<div class="form_wrapper col-xs-5">

  <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">

    <div class="form_div_row">
      <h2><!--Account Information-->create your login account information</h2>
      <h6>Rep ID: 2349</h6>
        <label>Username</label>
      <input type="text"   [formControl]="dataForm.controls['username']">
      <span class="has-error" *ngIf ="dataForm.controls['username'].touched && !dataForm.controls['username'].valid && getusername('invalid')==true">Invalid User Name, username must contain at least 3 characters, and it should be alphanumeric!</span>

        <label>Password</label>
      <input type="password"  [formControl]="dataForm.controls['password']">
      <span class="has-error" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid && getpassword('invalid')==true">Password is not valid ,Password must contain at least 8 characters,one lower case character , one upper case character , one number, one special character</span>
        <label>Confirm Password</label>
      <input type="password"    [formControl]="dataForm.controls['confpassword']">
      <span class="has-error" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid">Please fill in the required field.</span>
      <div class="has-error" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid ">
        <span class="has-error">Passwords must match</span>
      </div>

        <h2 style="padding: 20px 0 0 0;">Contact Information  </h2>

        <label>Email Address</label>

        <input type="text"   [formControl]="dataForm.controls['email']">
        <span class="has-error" *ngIf ="dataForm.controls['email'].touched && getemail('blank')==true">Emailid is Required !</span>
        <span class="has-error" *ngIf ="dataForm.controls['email'].touched && getemail('invalid')==true">Invalid Emailid!</span>
        <label> Phone Number</label>
        <input type="text"  [formControl]="dataForm.controls['phone']">
        <span class="has-error" *ngIf ="dataForm.controls['phone'].touched && !dataForm.controls['phone'].valid">Phone No must be 10 numbers!</span>

        <h2 style="padding: 20px 0 0 0;">Experience </h2>
        <label>How many years have you been an insurance agent?</label>
      <div class="form_radio_wrapper">
        <input type="radio"> <b>1-2</b>
        <input type="radio">  <b>3-5</b>
        <input type="radio">  <b>5-10</b>
        <input type="radio">  <b>10</b>

          <div class="clearfix"></div>

     </div>

        <label>What number of you clients are 65 or older?</label>

        <input type="text">

        <label>In your estimate, what percentage of your clients have their Medicare Plan B Card?</label>

        <input type="text">

    </div>

    <div class="form_div_row">

        <h2 class="h2minheight">User Information</h2>
        <h6>&nbsp;</h6>
        <label> First Name</label>
        <input type="text"   [formControl]="dataForm.controls['firstname']">
        <span class="has-error" *ngIf ="dataForm.controls['firstname'].touched && !dataForm.controls['firstname'].valid">Invalid First Name!</span>

        <label> Last Name</label>
        <input type="text"  [formControl]="dataForm.controls['lastname']">
        <span class="has-error" *ngIf ="dataForm.controls['lastname'].touched && !dataForm.controls['lastname'].valid">Invalid Last Name!</span>
        <label> Address</label>
        <textarea   [formControl]="dataForm.controls['address']"></textarea>
        <span class="has-error" *ngIf ="dataForm.controls['address'].touched && !dataForm.controls['address'].valid">Invalid Address!</span>

        <label> Address 2</label>
        <textarea   [formControl]="dataForm.controls['address2']"></textarea>

        <label> City</label>
        <input type="text"  [formControl]="dataForm.controls['city']">
        <span class="has-error" *ngIf ="dataForm.controls['city'].touched && !dataForm.controls['city'].valid">Invalid City!</span>

        <label> State</label>
        <input type="text"   [formControl]="dataForm.controls['state']">
        <span class="has-error" *ngIf ="dataForm.controls['state'].touched && !dataForm.controls['state'].valid">Invalid State!</span>

        <label> Zip</label>
        <input type="text"   [formControl]="dataForm.controls['zip']">
        <span class="has-error" *ngIf ="dataForm.controls['zip'].touched && !dataForm.controls['zip'].valid">Invalid Zip!</span>

        <label> Gender</label>
        <select [formControl]="dataForm.controls['gender']">
          <option value="" disabled>Gender </option>
          <option value="male" name="gender">Male </option>
          <option value="female" name="gender">Female </option>
        </select>
      <span class="has-error" *ngIf ="dataForm.controls['gender'].touched && !dataForm.controls['gender'].valid"> You must choose your gender!</span>

        <label> Date Of Birth</label>
        <input type="text" placeholder="MM/DD/YYYY" [formControl]="dataForm.controls['dob']">
      <span class="has-error" *ngIf ="dataForm.controls['dob'].touched && !dataForm.controls['dob'].valid">Invalid Date of Birth!</span>



    </div>
<!--    <div class="form_div_row form_div_rowlastrow">
        <h2 style="padding: 20px 0;">Experience</h2>


        <textarea placeholder="How many years have you been an insurance agent?"></textarea>
        <textarea placeholder="What number of you clients are 65 or older?"></textarea>
        <textarea placeholder="In your estimate, what percentage of your clients have their Medicare Plan B Card?"></textarea>










    </div>-->


    <div class="clearfix"></div>


      <div class="form_div_row form_div_rowbottom">


      <label>You will need to choose one of our live onboarding calls to get started with this NexHealthcare program. Please choose a day and time that will work best for you</label>

      <select>
          <option>Fri, May 18, 2018 5:30 AM - 6:30 AM IST</option>
          <option>Fri, May 18, 2018 5:30 AM - 6:30 AM IST</option>
          <option>Fri, May 18, 2018 5:30 AM - 6:30 AM IST</option>
          <option>Fri, May 18, 2018 5:30 AM - 6:30 AM IST</option>
      </select>

          <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <input type="submit" value="submit" class="rep_subbtn">
      <span class="has-error" *ngIf="alreadyexist">{{alreadyexist}}</span>
      <div class="clearfix"></div>

  </form>

</div>


      <div class="clearfix"></div>

  </div>
</div>

<app-footer></app-footer>

