
<div class="container-fluid admindashboardmenublock">

   <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 admindashboardmenublock_logo">
         <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 admindashboardmenublock_menu">
         <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Dropdown button
            </button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">Link 1</a>
               <a class="dropdown-item" href="#">Link 2</a>
               <a class="dropdown-item" href="#">Link 3</a>
            </div>
         </div>
      </div>


     <div class="btn-group" dropdown>
       <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
               aria-controls="dropdown-basic">
         Button dropdown <span class="caret"></span>
       </button>
       <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
           role="menu" aria-labelledby="button-basic">
         <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
         <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
         <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
         <li class="divider dropdown-divider"></li>
         <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
         </li>
       </ul>
     </div>





      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 admindashboardmenublock_editbox"></div>



      <div class="clearfix"></div>

   </div>

</div>




<div class="container-fluid admindashboardcon1">

   <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 admindashboardcon1_block1">
         <div class="admindashboardcon1_block1_wrapper_body">
         <div class="admindashboardcon1_block1_wrapper">

            <table>

               <tr>
                  <td>
                     <span>Name: Lina Gomes</span>
                     <span> Username: lina</span>
                     <span> Email: lina@hmail.com</span>
                     <span> Previous Login Date: 02-12-2018</span>
                     <span> Member  Since: 06-05-1999</span>

                  </td>
                  <td>

                     <img src="../../assets/images/dashboard_top_icon1.png" alt="#" class="roundimg">
                     <div class="clearfix"></div>
                     <img src="../../assets/images/dashboard_top_img2.png" alt="#" class="bgimg">
                     <div class="clearfix"></div>
                     <a href="javascript:void(0)" class="editlink">edit profile</a>
                     <div class="clearfix"></div>
                  </td>

               </tr>
            </table>

         </div>

         </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 admindashboardcon1_block2">

         <div class="admindashboardcon1_div1">
            <table>
               <tr>
                  <td><h1>21</h1><span>Total Sales Rep  : 21</span></td>
                  <td><img src="../../assets/images/dashboard_top_icon2.png" alt="#"><div class="clearfix"></div></td>

               </tr>

            </table>

         </div>

         <div class="admindashboardcon1_div2">
            <table>
               <tr>
                  <td><h1>22</h1><span>Total Recruiters: 22</span></td>
                  <td><img src="../../assets/images/dashboard_top_icon3.png" alt="#"><div class="clearfix"></div></td>

               </tr>

            </table>

         </div>

         <div class="admindashboardcon1_div3">
            <table>
               <tr>
                  <td><h1>40</h1><span>Total Patients : 40</span></td>
                  <td><img src="../../assets/images/dashboard_top_icon4.png" alt="#"><div class="clearfix"></div></td>

               </tr>

            </table>

         </div>

         <div class="admindashboardcon1_div4">
            <table>
               <tr>
                  <td><h1>40</h1><span>Total Resources : 40</span></td>
                  <td><img src="../../assets/images/dashboard_top_icon5.png" alt="#"><div class="clearfix"></div></td>

               </tr>

            </table>

         </div>


         <div class="clearfix"></div>
      </div>



      <div class="clearfix"></div>

   </div>

</div>



   <div class="container-fluid admindashboardcon2">

      <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 admindashboardcon2_sub">

         <div class="admindashboardcon2_sub_wrapper">
         <div class="admindashboardcon2_sub_condiv_heading">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8"><h2>Recently Added Recruiters</h2></div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"><a href="javascript:void(0)" class="viewalllink">View All</a></div>
            <div class="clearfix"></div>
         </div>

            <div class="admindashboardcon2_sub_con_wrapper">
               <div class="admindashboardcon2_sub_condiv">
                  <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                  <strong> Lina Gomes</strong>
                  <span>50 Days Ago</span>

               </div>
               <div class="admindashboardcon2_sub_condiv">
                  <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                  <strong> Lina Gomes</strong>
                  <span>50 Days Ago</span>

               </div>
               <div class="admindashboardcon2_sub_condiv">
                  <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                  <strong> Lina Gomes</strong>
                  <span>50 Days Ago</span>

               </div>
               <div class="admindashboardcon2_sub_condiv">
                  <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                  <strong> Lina Gomes</strong>
                  <span>50 Days Ago</span>

               </div>
               <div class="admindashboardcon2_sub_condiv">
                  <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                  <strong> Lina Gomes</strong>
                  <span>50 Days Ago</span>

               </div>
               <div class="admindashboardcon2_sub_condiv">
                  <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                  <strong> Lina Gomes</strong>
                  <span>50 Days Ago</span>

               </div>

               <div class="clearfix"></div>
            </div>

         </div>

      </div>


         <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 admindashboardcon2_sub">

            <div class="admindashboardcon2_sub_wrapper">
            <div class="admindashboardcon2_sub_condiv_heading">
               <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8"><h2>Recently Added Sales Rep</h2></div>
               <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"><a href="javascript:void(0)" class="viewalllink">View All</a></div>
               <div class="clearfix"></div>
            </div>
               <div class="admindashboardcon2_sub_con_wrapper">
            <div class="admindashboardcon2_sub_condiv">
               <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
               <strong> Lina Gomes</strong>
               <span>50 Days Ago</span>

            </div>
            <div class="admindashboardcon2_sub_condiv">
               <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
               <strong> Lina Gomes</strong>
               <span>50 Days Ago</span>

            </div>
            <div class="admindashboardcon2_sub_condiv">
               <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
               <strong> Lina Gomes</strong>
               <span>50 Days Ago</span>

            </div>
            <div class="admindashboardcon2_sub_condiv">
               <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
               <strong> Lina Gomes</strong>
               <span>50 Days Ago</span>

            </div>
            <div class="admindashboardcon2_sub_condiv">
               <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
               <strong> Lina Gomes</strong>
               <span>50 Days Ago</span>

            </div>
            <div class="admindashboardcon2_sub_condiv">
               <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
               <strong> Lina Gomes</strong>
               <span>50 Days Ago</span>

            </div>

            <div class="clearfix"></div>
               </div>
            </div>

         </div>
         <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 admindashboardcon2_sub">

            <div class="admindashboardcon2_sub_wrapper">
            <div class="admindashboardcon2_sub_condiv_heading">
               <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8"><h2>Recently Added Patients </h2></div>
               <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"><a href="javascript:void(0)" class="viewalllink">View All</a></div>
               <div class="clearfix"></div>
            </div>
               <div class="admindashboardcon2_sub_con_wrapper">
                  <div class="admindashboardcon2_sub_condiv">
                     <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                     <strong> Lina Gomes</strong>
                     <span>50 Days Ago</span>

                  </div>
                  <div class="admindashboardcon2_sub_condiv">
                     <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                     <strong> Lina Gomes</strong>
                     <span>50 Days Ago</span>

                  </div>
                  <div class="admindashboardcon2_sub_condiv">
                     <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                     <strong> Lina Gomes</strong>
                     <span>50 Days Ago</span>

                  </div>
                  <div class="admindashboardcon2_sub_condiv">
                     <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                     <strong> Lina Gomes</strong>
                     <span>50 Days Ago</span>

                  </div>
                  <div class="admindashboardcon2_sub_condiv">
                     <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                     <strong> Lina Gomes</strong>
                     <span>50 Days Ago</span>

                  </div>
                  <div class="admindashboardcon2_sub_condiv">
                     <div class="sub2_imgdiv"><img src="../../assets/images/adminlogo.png" alt="#"></div>
                     <strong> Lina Gomes</strong>
                     <span>50 Days Ago</span>

                  </div>

                  <div class="clearfix"></div>
               </div>
            </div>
         </div>





      <div class="clearfix"></div>
      </div>
   </div>


   <div class="container-fluid admindashboardcon3">
      <div class="row">

         <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 admindashboardcon3_sub"><img src="../../assets/images/dashboard_demo1.jpg" alt="#"> </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 admindashboardcon3_sub"><img src="../../assets/images/dashboard_demo2.jpg" alt="#"> </div>
      <div class="clearfix"></div>
      </div>
   </div>
